page-login {
    background-size: cover;
    background-position: center;
    ion-content.content {
        background-size: 200px;
        [max-width-container] {
            padding: 30px;
            padding-top: 10px;
            margin-top: 10px;
            max-width: 400px;
            background-color: $white;
            border-radius: 10px;
            /* box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px; */
        }
        [project-name] {
            color: $secondary;
            font-weight: 100;
            font-size: 24px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        [welcome] {
            font-size: 26px;
            font-family: $secondary-font-family;
            text-shadow: 0 0 1px lighten($primary, 10%);
            color: $primary;
        }
        [login-message] {
            font-size: 12px;
            max-width: 250px;
            margin: auto;
            color: #aaa;
            margin-top: 0px;
        }
        ion-label[floating] {
            font-weight: bold;
        }
        a {
            color: $primary;
            font-weight: bold;
        }
    }
    ion-footer[app-footer] {
        color: white;
    }
}