page-merchant-details {
    ion-content.content {
        label {
            color: $dark;
        }
        [merchant-segments] {
            padding-top: 20px;
        }
        [merchant-segment] {
            padding-top: 10px;
        }
        [map-canvas] {
            max-height: 120px;
            &.loading {
                opacity: 0.2;
            }
        }
        [merchant-meta] {
            width: 100%;
            height: 150px;
            position: absolute;
            top: 40px;
            right: 0px;
        }
        [merchant-banner] {
            max-height: 150px;
            border-bottom: 2px solid #efefef;
            overflow: hidden;
            [banner] {
                height: 170px;
                width: 150%;
                background-image: url(/assets/images/bgs/merchant-banner.jpg);
                background-size: cover;
                background-position: 0px 250px;
                filter: blur(0px);
                margin-top: -15px;
                &::before {
                    content: " ";
                    display: block;
                    @include linearGradient(transparentize(lighten($secondary, 5), 0.1), transparentize(adjust-hue(lighten($secondary, 5), 20), 0.1));
                    height: 100%;
                }
            }
        }
        [map-loader] {
            text-align: center;
            margin-top: -20px;
            margin-bottom: 100px;
        }
        [merchant-picture] {
            width: 36vw;
            height: 36vw;
            max-width: 150px;
            max-height: 150px;
            border-radius: 50%;
            margin-top: -120px;
            margin-left: 20px;
            position: absolute;
            object-fit: cover;
            border: 5px solid rgba(255, 255, 255, 0.8);
        }
        [merchant-name] {
            text-align: right;
            font-weight: 300px;
            font-size: 40px;
            text-transform: uppercase;
            color: white;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            letter-spacing: 4px;
            width: 100%;
        }
        [merchant-description] {
            font-style: italic;
            text-align: right;
            margin-top: 5px;
            margin-bottom: 10px;
            color: white;
        }
        [subtitle] {
            ion-icon {
                vertical-align: middle;
                font-size: 20px;
                padding-right: 5px;
                padding-bottom: 4px;
            }
        }
        [working-hours] {
            border-bottom: 1px solid #efefef;
        }
        [discount-tag] {
            display: inline-block;
            vertical-align: middle;
            /*        position: absolute;
            right: 10px;
            top: 10px; */
            padding: 5px;
        }
        [ion-item][category].item {
            border-radius: 0px;
            border: 0px;
            border: 1px solid #efefef;
            margin-bottom: 10px;
            border-radius: 30px;
            box-shadow: none;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
            [item-right] {
                margin: 0px;
                margin-top: 5px;
            }
        }
        ion-icon {
            font-size: 24px;
        }
        .rating {
            text-align: right;
        }
        [rate] rating ul.rating {
            margin-top: 8px;
            padding-left: 0px;
            margin-bottom: 9px;
        }
        ion-segment[information-segment] {
            max-width: 100%;
            ion-segment-button.segment-button {
                opacity: 1;
                &.segment-activated {
                    @include secondary-gradient();
                    color: white;
                    border-color: $secondary;
                }
                span {
                    padding-bottom: 5px;
                    font-size: 12px;
                }
            }
        }
        [infos] {
            padding-bottom: 0px;
            text-align: right;
            [accordion-icon] {
                color: $primary;
            }
            &[general-info] {
                margin-top: 10px;
            }
        }
        [information-name] {
            margin-top: 0px;
        }
        [information-block] {
            max-height: 0px;
            overflow: hidden;
            transition-property: all;
            transition-duration: 200ms;
            border-color: transparent;
            &.show {
                display: block;
                padding: 16px;
                padding-left: 32px;
                padding-bottom: 25px;
                padding-top: 0px;
                opacity: 1;
                max-height: 1000px;
                padding: 16px;
                padding-top: 10px;
                border-radius: 20px;
                border: 1px solid #efefef;
                margin-bottom: 10px;
                &[subcategories] {
                    border: none;
                }
                &[no-border] {
                    border: none;
                    padding: 0px;
                }
            }
        }
        [payment-modes] {
            font-size: 12px;
        }
    }
}

@media(min-width: 768px) {
    page-merchant-details {
        ion-content.content {
            [merchant-name] {
                text-align: center !important;
            }
            [merchant-segments] {
            }
            [merchant-description] {
                text-align: center !important;
            }
        }
    }
}

@media(max-width: 768px) {
    page-merchant-details {
        ion-content.content {
            [merchant-meta] {
                top: 10px;
            }
        }
    }
}