page-merchant-contact-information {
    ion-content.content {
        [picture-placeholder] {
            width: 125px;
            height: 125px;
            padding-top: 45px;
            border-radius: 50%;
            margin: auto;
            background-size: cover;
            background-position: center;
            image-orientation: from-image;
            margin-top: -30px;
            ion-icon {
                font-size: 30px;
                opacity: 0.2;
            }
        }
        .inputfile {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
        .inputfile+label {
            @include secondary-gradient();
            font-size: 20px;
            margin-bottom: -100px;
            color: white;
            border-radius: 50%;
            width: 41px;
            height: 17px;
            opacity: 0.9;
            padding: 9px;
            padding-right: 9px;
            padding-left: 9px;
            border: 0px;
            max-width: 100px;
            padding-left: 15px;
            padding-right: 15px;
            margin-left: 90px;
            cursor: pointer;
            &[disabled=true] {
                pointer-events: none;
                cursor: inherit;
                opacity: 0.5;
            }
        }
    }
}