<!-- View Header -->
<ion-header>
    <ion-navbar color="secondary">
        <ion-title>
            <mars-translatable content="ride"></mars-translatable>
        </ion-title>
    </ion-navbar>
</ion-header>
<!-- View Content -->
<ion-content>
    <!-- View sections -->
    <ion-segment [(ngModel)]="segment" color="secondary" *ngIf="order && !order.merchant">
        <!-- Information section -->
        <ion-segment-button value="information">
            <mars-translatable content="information"></mars-translatable>
        </ion-segment-button>
        <!-- Bids section -->
        <ion-segment-button value="bids" (click)="scrollBidsDown()" *ngIf="authService.hasRole('MERCHANT') && enableBids()">
            <mars-translatable content="bids"></mars-translatable>
        </ion-segment-button>
        <!-- Merchants section -->
        <ion-segment-button value="merchants" *ngIf="authService.hasRole('CUSTOMER')">
            <mars-translatable content="available_merchants"></mars-translatable>
        </ion-segment-button>
    </ion-segment>
    <!-- Loading... -->
    <mars-view-spinner *ngIf="!order"> </mars-view-spinner>
    <!-- Map -->
    <section id="job-details-map" map-canvas data-tap-disabled="true" [ngClass]="{ 'loading': isLoadingMap, 'hide': (segment !== 'information' || !(order && order.status == 'created')) }">
    </section>
    <!-- Items! -->
    <article *ngIf="order">
        <article max-width-container order infos *ngIf="segment == 'information'">
            <!-- Merchant Options Towards Order -->
            <article padding text-center *ngIf="authService.hasRole('MERCHANT') && order.merchant && order.status == 'awaiting_for_confirmation' && (order.merchant._id == currentUser)">
                <!-- Reject Order -->
                <section button-with-label>
                    <button padding ion-button round color="danger" (click)="cancel()">
                        <ion-icon name="close"></ion-icon>&nbsp;
                    </button>
                    <label text-color="danger">
                        <mars-translatable content="reject"></mars-translatable>
                    </label>
                </section>
                <!-- Accept Order -->
                <section button-with-label order>
                    <button padding ion-button round color="balanced" (click)="accept()">
                        <ion-icon name="checkmark"></ion-icon>&nbsp;
                    </button>
                    <label text-color="balanced">
                        <mars-translatable content="accept"></mars-translatable>
                    </label>
                </section>
            </article>
            <!-- Merchant Info -->
            <section info text-center margin-top user-info user-name *ngIf="authService.hasRole('CUSTOMER') && order.merchant">
                <p user-name>
                    <ion-icon name="contact"></ion-icon> {{order.merchant.name}}
                </p>
                <!-- <button ion-button clear view-profile text-color="positive" (click)="navigationService.goTo('MerchantDetailsPage', { provider: 'mars', merchant: order.merchant.username })">
                    <mars-translatable content="view_profile"></mars-translatable>
                </button> -->
            </section>
            <!-- Order Info & Items -->
            <!-- Order details -->
            <article job-details>
                <!-- Order Details -->
                <ion-card infos-content text-left>
                    <ion-card-header text-center>
                        <ion-icon name="information-circle"></ion-icon>&nbsp;
                        <mars-translatable content="information"></mars-translatable>
                    </ion-card-header>
                    <ion-card-content padding-bottom>
                        <ion-row infos>
                            <!-- Order observations -->
                            <section info ion-col col-12 col-md-6 *ngIf="order.payload && order.payload.observations">
                                <p info-title>
                                    <ion-icon name="quote"></ion-icon>&nbsp;
                                    <mars-translatable content="observations"></mars-translatable>:
                                </p>
                                <i>"{{order.payload.observations}}"</i>
                            </section>
                            <!-- Order observations -->
                            <section info ion-col col-12 col-md-6 *ngIf="order.job && order.job.scheduledTo">
                                <p info-title>
                                    <ion-icon name="calendar"></ion-icon>&nbsp;
                                    <mars-translatable content="ride_date"></mars-translatable>:
                                </p>
                                {{order.job.scheduledTo | date }}
                                <mars-translatable content="at"></mars-translatable> {{order.job.scheduledTo | date :
                                'hh:mm' }}
                            </section>
                            <!-- Order job origin -->
                            <section info ion-col col-12 col-md-6 *ngIf="order.job.origin.items">
                                <p info-title>
                                    <ion-icon name="pin"></ion-icon>&nbsp;
                                    <mars-translatable content="stop_initial"></mars-translatable>:
                                </p>
                                <!-- Origin information -->
                                {{ order.job.origin.address.street }}
                            </section>
                            <!-- Order job destination -->
                            <section info ion-col col-12 col-md-6 *ngIf="order.job.origin.items">
                                <p info-title>
                                    <ion-icon name="pin"></ion-icon>&nbsp;
                                    <mars-translatable content="stop_final"></mars-translatable>:
                                </p>
                                <!-- Desination address -->
                                {{ order.job.destination.address.street }}
                            </section>
                            <section info ion-col col-12 col-md-6 *ngIf="order.job.origin.items && (order.job.origin.items.length > 0)">
                                <p info-title>
                                    <ion-icon name="albums"></ion-icon>&nbsp;
                                    <mars-translatable content="items"></mars-translatable>:
                                </p>
                                <!-- Origin items -->
                                <section stop-items>
                                    <span *ngFor="let item of order.job.origin.items; let itemIndex = index;">
                                        {{item.description}}{{ itemIndex == order.job.origin.items.length -
                                        1 ? "." : ", " }}
                                    </span>
                                </section>
                            </section>
                            <!-- Order observations -->
                            <section info ion-col col-12 col-md-6 *ngIf="order.status">
                                <p info-title>
                                    <ion-icon name="quote"></ion-icon>&nbsp;
                                    <mars-translatable content="status"></mars-translatable>:
                                </p>
                                {{getOrderStatus(order)}}
                            </section>
                            <!-- Order observations -->
                            <section info ion-col col-12 col-md-6 *ngIf="authService.hasRole('CUSTOMER') && order.merchant && order.status == 'accepted'">
                                <p info-title>
                                    <ion-icon name="car"></ion-icon>&nbsp;
                                    <mars-translatable content="merchant"></mars-translatable>:
                                </p>
                                {{order.merchant.name}}
                            </section>
                            <!-- Order observations -->
                            <section info ion-col col-12 col-md-6 *ngIf="authService.hasRole('MERCHANT') && order.customer && order.status == 'accepted'">
                                <p info-title>
                                    <ion-icon name="car"></ion-icon>&nbsp;
                                    <mars-translatable content="customer"></mars-translatable>:
                                </p>
                                {{order.customer.name}}
                            </section>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
                <!-- Place bid button -->
                <section text-center *ngIf="authService.hasRole('MERCHANT') && !order.merchant">
                    <button ion-button rounded color="balanced" (click)="setSegment('bids')">
                        <ion-icon name="add-circle"></ion-icon>&nbsp;
                        <mars-translatable content="post_a_bid"></mars-translatable>
                    </button>
                </section>
                <!-- View bids button -->
                <section text-center *ngIf="authService.hasRole('CUSTOMER') && !order.merchant && (order.bids.length > 0)">
                    <button ion-button rounded color="balanced" (click)="setSegment('merchants')">
                        <mars-translatable content="view_bids"></mars-translatable>
                    </button>
                </section>
            </article>
        </article>
        <!-- Order bids -->
        <article bids *ngIf="authService.hasRole('MERCHANT') && segment == 'bids' && enableBids()">
            <article bids-list #bidsScroll>
                <section no-bids *ngIf="bids && !(bids.length > 0)">
                    <img tutor src="assets/images/assistant.png" />
                    <mars-translatable content="no_bids_yet"></mars-translatable>
                </section>
                <!-- Items! -->
                <article bid *ngFor="let bid of bids" [ngClass]="{'received': !isSent(bid), 'sent': isSent(bid) }">
                    <section content>
                        <!-- Bid value -->
                        <p value>
                            <ion-icon name="contact"></ion-icon> {{ bid.value | currency : 'BRL' }}
                        </p>
                        <!-- Bid time -->
                        <section time>
                            {{ bid.createdAt | fromNow }}
                        </section>
                    </section>
                </article>
            </article>
            <!-- Bid submit form -->
            <form (ngSubmit)="createBid(newBidValue)">
                <ion-item>
                    <input type="tel" bid-value-input #bidInput [(ngModel)]="newBidValue" name="newBidValue"
                        [placeholder]="translations.bid_value_placeholder" currencyMask [options]="CURRENCY_OPTIONS"
                        (keypress)="onKeyPress($event)" text-center text-color="secondary">
                    <button ion-button round icon send-icon item-right #sendButton>
                        <ion-icon name="ios-paper-plane"></ion-icon>
                    </button>
                </ion-item>
            </form>
        </article>
        <!-- Order merchants -->
        <article max-width-container merchants *ngIf="authService.hasRole('CUSTOMER') && segment == 'merchants'">
            <!-- No items... -->
            <section no-bids *ngIf="lowestBids && !(lowestBids.length > 0)">
                <mars-translatable content="no_merchant_bids_yet"></mars-translatable>
                <img tutor src="assets/images/assistant.png" />
            </section>
            <!-- Items! -->
            <ion-list>
                <!-- Bids card content -->
                <ion-item merchant-item *ngFor="let bid of lowestBids" [ngClass]="{ 'disabled': (order.job.merchant && !order.job.merchant._id !== bid.user._id) }">
                    <section item-left>
                        <img [src]="getMerchantPicture(bid.user)">
                    </section>
                    <section content>
                        <p merchant-name> {{ bid.user.name }} </p>
                        <p bid-value>
                            <mars-translatable content="proposed_value"></mars-translatable>:
                            <span text-color="balanced"> {{ bid.value | currency : 'BRL' }} </span>
                        </p>
                        <!-- Bid time -->
                        <section time>
                            {{ bid.createdAt | fromNow }}
                        </section>
                        <section view-more (click)="navigationService.goTo('MerchantDetailsPage', { provider: 'mars', merchant: bid.user.username })">
                            <a>
                                <mars-translatable content="view_more"></mars-translatable>
                            </a>
                        </section>
                    </section>
                    <section item-right>
                        <button ion-button outline color="balanced" (click)="chooseMerchant(bid.user)">
                            <mars-translatable content="choose"></mars-translatable>
                        </button>
                    </section>
                </ion-item>
            </ion-list>
        </article>
    </article>
</ion-content>

<ion-footer *ngIf="authService.hasRole('MERCHANT') && order && order.customer && order.status == 'accepted'" color="balanced"
    (click)="startRide()">
    <mars-translatable content="start_ride"></mars-translatable>
</ion-footer>