page-introduction {
    ion-header.header {
        ion-navbar.toolbar {
            .toolbar-background {
                background: transparent;
            }
            .toolbar-title {
                color: white;
            }
        }
        &::after {
            background-image: none;
        }
    }
    ion-content.content {
        @include linearGradient(lighten(adjust-hue($primary, 20), 4%), lighten($primary, 4%));
        ion-slide {
            .slide-zoom {
                color: white;
                margin-top: -10vh;
            }
            [slide-image] {
                height: 30vw;
                width: 30vw;
                min-width: 180px;
                min-height: 180px;
                max-width: 300px;
                max-height: 300px;
                background-size: cover;
                background-position: center;
                border-radius: 50%;
                object-fit: cover;
                border: 5px solid white;
                font-weight: bold;
            }
            h1 {
                font-size: 28px;
                font-family: $secondary-font-family;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
            }
            [typewrited] {
                margin-top: 40px;
                font-size: 14px;
                padding: 10px;
            }
            [fade-in-button] {
                transition-property: all;
                transition-duration: 1s;
                opacity: 0;
                &[show=true] {
                    opacity: 1;
                }
            }
            [skip-button] {
                position: absolute;
                bottom: 60px;
                right: 20px;
            }
            [role-button] {
                max-width: 250px;
            }
            [steps] {
                max-width: 600px;
                margin: auto;
                [step-text] {
                    text-align: center;
                    font-weight: bold;
                    font-size: 16px;
                    color: lighten($primary, 40%);
                    font-family: $secondary-font-family;
                    margin-bottom: 10px;
                    ion-icon {
                        font-size: 20px;
                    }
                }
            }
            &[user-intro-slide] {
                [typewrited] {
                    margin-top: 0px;
                }
            }
        }
    }
}