<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
<meta http-equiv="PRAGMA" content="NO-CACHE">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">

<meta name="description" content="%project_slogan_placeholder%">
<meta property="og:title" content="%project_name_placeholder%">
<meta property="og:description" content="%project_slogan_placeholder%">
<meta property="og:url" content="%project_website_placeholder%">
<meta property="og:site_name" content="%project_name_placeholder%">
<meta property="og:locale" content="pt_BR">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="180">
<meta property="og:image:height" content="180">
<meta property="fb:app_id" content="%facebook_app_id%">
<meta name="apple-itunes-app" content="app-id=%apple_app_id%,app-argument=%project_website_placeholder%">
<link rel="canonical" href="%project_website_placeholder%">
<link rel="alternate" href="android-app://%project_app_package%">
<link rel="alternate" href="ios-app://%apple_app_id%">
<meta name="apple-itunes-app" content="app-id=%apple_app_id%">
<meta name="google-play-app" content="app-id=%project_app_package%">
<meta name="google-play-app" content="app-id=%project_app_package%">

<meta name="theme-color" content="darker_primary_color_placeholder">
<meta name="msapplication-navbutton-color" content="darker_primary_color_placeholder">
<meta name="apple-mobile-web-app-status-bar-style" content="darker_primary_color_placeholder">

<title>%project_name_placeholder%</title>
<!--     Fonts and icons     -->
<link href="./assets/icon/favicon.ico" rel="shortcut icon" />
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="http://fonts.googleapis.com/css?family=Muli:300italic,400,300,800" rel="stylesheet" type="text/css" />

<script>
    function scrollToDiv(id) {
        var div = $("#" + id);
        $("html,body").animate({ scrollTop: div.offset().top + 20 }, 400);
    }
</script>