page-login {
    background-size: cover;
    background-position: center;
    ion-content.content {
        background-size: 200px;
        [project-logo] {
            width: 150px;
            height: 150px;
        }
        [welcome] {
            font-size: 26px;
            font-family: $secondary-font-family;
            text-shadow: 0 0 1px lighten($primary, 10%);
            color: $primary;
        }
        [login-message] {
            font-size: 14px;
            max-width: 250px;
            margin: auto;
            color: #aaa;
            margin-top: 0px;
        }
        [max-width-container] {
            padding-top: 0px;
            max-width: 350px;
        }
        ion-label[floating] {
            font-weight: bold;
        }
        a {
            color: $primary;
            font-weight: bold;
        }
    }
}