*~
.DS_Store
platforms/
frontend/
plugins/
www/
node_modules/
.sourcemaps
yarn.lock
package-lock.json

**/**/.tmp
**/yarn.lock
**/package-lock.json
**/node_modules

firebase-debug.log
.firebase/
.vscode
