ion-spinner {
    vertical-align: middle;
    margin-right: 5px;
}

.ios {
    ion-spinner {
        circle {
            fill: $balanced !important;
        }
    }
}

.md {
    ion-spinner {
        circle {
            stroke: $secondary !important;
        }
    }
}

ion-loading[role=dialog] {
    div.loading-wrapper {
        border-radius: 10px;
    }
}