<nav [ngClass]="{ 'drawer': screenIsDesktopSized(), 'scroll-left': scrollLeft, 'disable-navigation': globals.disableNavigation }">
    <section (click)="toggleDrawer()" header text-center *ngIf="screenIsDesktopSized()">
        <span title>
            <mars-translatable content="project_name"></mars-translatable>
        </span>
    </section>
    <ion-tabs [attr.hide]="globals.keyboardIsUp" name="mars-tabs" id="mars-tabs" tabsHighlight="tabsHighlight" tabsLayout="icon-top" tabsPlacement="bottom" [selectedIndex]="lastTab" #tabs>
        <ion-tab *ngFor="let tab of globals.rootTabs" [root]="tab.getRoot()" [rootParams]="tab.getRootParams()" [tabTitle]="tab.getTitle()"
            [tabUrlPath]="tab.getUrlPath()" [tabIcon]="tab.getIcon()" [tabBadge]="tab.getBadge()" [show]="tab.canShow()"></ion-tab>
    </ion-tabs>
    <article ads-bar-wrapper>
        <section ads-bar>
        </section>
    </article>
</nav>