<article credit-card max-width-container *ngIf="card">
    
    <article card-back>
        <section card-stripe></section>
    </article>
    <article card-front>
        <form #cardForm="ngForm" *ngIf="!showBack">
            
            <label>
                Número do cartão
            </label>
            <input required type="text" autocomplete="cc-number" card-number name="cardNumber" mask="9999 9999 9999 9999" [(ngModel)]="card.number"
                placeholder="1234 5678 9101 1112" length="16">
            
            <section cardholder-container>
                <label>
                    Nome do titular
                </label>
                <input required type="text" autocomplete="cc-name" card-holder name="holderName" [(ngModel)]="card.holder.name" placeholder="Ada Lovelace"
                />
            </section>
            
            <section exp-container>
                <label>
                    Validade
                </label>
                <select required card-month name="expMonth" [(ngModel)]="card.expirationMonth" autocomplete="cc-exp-month">
                    <option *ngFor="let month of expirationMonths; let index = index;" [value]="month" [selected]="index == 0">
                        {{month}}
                    </option>
                </select>
                <select required card-year name="expYear" [(ngModel)]="card.expirationYear" autocomplete="cc-exp-year">
                    <option *ngFor="let year of expirationYears; let index = index;" [value]="year" [selected]="index == 0">
                        {{year}}
                    </option>
                </select>
            </section>
            
            <section cvc-container>
                <label for="card-cvc">
                    <mars-translatable content="card_verfication_code"></mars-translatable>
                </label>
                <input required card-cvc autocomplete="cc-csc" placeholder="XXXX" name="cardCvv" [(ngModel)]="card.cvv" type="text" min-length="3"
                    max-length="4">
                <p>
                    <span>
                        Três dígitos
                    </span>
                </p>
            </section>
           <!--  <button card-button next-button (click)="showBack = true;">
                Próximo
            </button> -->
        </form>
        <form card-extra-info *ngIf="showBack">
            
            <div field>
                <label>Tipo de Documento:</label>
                <select [(ngModel)]="card.holder.document.type" name="documentType">
                    <option [selected]="!isInstitution" value="CPF">CPF</option>
                    <option [selected]="isInstitution" value="CNPJ">CNPJ</option>
                </select>
            </div>
            
            <div field>
                <label>Documento:</label>
                <input type="text" name="documentNumber" [(ngModel)]="card.holder.document.number" mask="{{ getDocumentMask(card.holder.document.type) }}"
                    placeholder="Número do {{ card.holder.document.type }}">
            </div>

            
            <div field *ngIf="excludedFields.indexOf('birthdate') > -1">
                <label>Nascimento:</label>
                <input type="text" name="birthDate" [(ngModel)]="card.holder.birthdate" placeholder="dd/mm/aaaa" mask="99/99/9999">
            </div>
            
            <div col field>
                <label>Telefone:</label>
                <input type="text" name="holderPhone " [(ngModel)]="card.holder.phone " mask=" {{ getPhoneMask(card.holder.phone) }} " placeholder="Ex.: (51) 98234-5678 ">
            </div>
            
            <div col field full-width email>
                <label>Email:</label>
                <input type="text" name="email" [(ngModel)]="card.holder.email" placeholder="E-mail da conta">
            </div>
            <button card-button save-button (click)="showBack = true;">
                ✓
            </button>
        </form>
    </article>
</article>