.toolbar {
    .back-button.bar-button .back-button-icon {
        color: $light;
    }
    .bar-button,
    .bar-button ion-icon {
        color: $light;
        &:hover {
            color: $light !important;
            ion-icon {
                color: $light !important;
            }
        }
    }
    ion-title.title {
        font-family: $secondary-font-family;
        .toolbar-title {
            font-weight: bold;
            color: $light;
            /*  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.4); */
            font-size: 16px;
        }
    }
    &[color=primary] {
        .toolbar-background.toolbar-background-md,
        .toolbar-background.toolbar-background-ios {
            @include primary-gradient();
        }
    }
    &[color=secondary] {
        .toolbar-background.toolbar-background-md,
        .toolbar-background.toolbar-background-ios {
            @include secondary-gradient();
        }
    }
    &[color=positive] {
        .toolbar-background.toolbar-background-md,
        .toolbar-background.toolbar-background-ios {
            @include linearGradient($positive, adjust-hue($positive, 10));
        }
    }
    &[color=danger] {
        .toolbar-background.toolbar-background-md,
        .toolbar-background.toolbar-background-ios {
            @include linearGradient($danger, adjust-hue($danger, 5));
        }
    }
    &[color=balanced] {
        .toolbar-background.toolbar-background-md,
        .toolbar-background.toolbar-background-ios {
            @include linearGradient($balanced, adjust-hue($balanced, 35));
        }
    }
    &[color=energized] {
        .toolbar-background.toolbar-background-md,
        .toolbar-background.toolbar-background-ios {
            @include linearGradient($energized, adjust-hue($energized, 5));
        }
    }
    &[color=facebook] {
        .toolbar-background.toolbar-background-md,
        .toolbar-background.toolbar-background-ios {
            @include linearGradient($facebook, adjust-hue($facebook, 5));
        }
    }
}

ion-navbar {
    &.toolbar {
        margin-bottom: -2px;
    }
}