ion-content.content {
    ion-card {
        border-radius: 15px;
        background-color: white;
        ion-card-header {                                                                                                                       
            padding: 10px;
            color: white;
            margin: 0px;
            &[color=primary] {
                @include secondary-gradient();
            }
            &[color=balanced] {
                @include linearGradient($balanced, adjust-hue($balanced, 25));
            }
            &[color=secondary] {
                @include linearGradient($secondary, adjust-hue($secondary, 10));
            }
        }
        ion-card-content {
            background-color: white;
            ion-item.item {
                background-color: white;
            }
            input,
            textarea {
                color: $dark;
            }
        }
    }
}