ion-content.content {
    ion-card {
        border-radius: 10px;
        background-color: white;
        &[color=grey] {
            ion-card-header{
                @include linearGradient(lighten($light-grey, 10), $light-grey);
                opacity: 0.5;
            }
        }
        ion-card-header {
            padding: 10px;
            color: white;
            margin: 0px;
            @include secondary-gradient();
            &[color=primary] {
                @include primary-gradient();
            }
            &[color=balanced] {
                @include linearGradient($balanced, adjust-hue($balanced, 25));
            }
            &[color=secondary] {
                @include secondary-gradient();
            }
        }
        ion-card-content {
            background-color: white;
            ion-item.item {
                background-color: white;
            }
            input,
            textarea {
                color: $dark;
            }
        }
    }
}