ionic2-datepicker {
    div.datepicker-wrapper {
        div.datepicker-header {
            @include secondary-gradient();
            .weekday-header {
                background-color: $primary;
            }
        }
        span.datepicker-current.calendar-cell {
            color: $primary;
            background-color: #efefef;
        }
    }
    button.button {
        border-radius: 50%;
        display: inline-block;
        width: 30px;
        height: 30px;
    }
    div.datepicker-footer {
        display: block;
        text-align: center;
        button.button {
            width: 30px;
        }
    }
}