ion-icon {
    vertical-align: top;
}

.back-button-icon.icon:before {
    font-family: 'line-awesome';
    content: '\f120';
}

[class^="ion-md-la"],
[class*="ion-md-la"],
[class^="ion-ios-la"],
[class*="ion-ios-la"] {
    font-family: 'line-awesome';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin makeIcon($arg,
$val) {
    .la-#{$arg}:before,
    .ion-ios-la-#{$arg}:before,
    .ion-ios-la-#{$arg}-outline:before,
    .ion-md-la-#{$arg}:before,
    .ion-md-la-#{$arg}-outline:before {
        content: $val;
        font-size: 26px;
    }
}

@include makeIcon('adjust',
'\f101');
@include makeIcon('anchor',
'\f109');
@include makeIcon('archive',
'\f115');
@include makeIcon('area-chart',
'\f116');
@include makeIcon('arrows',
'\f123');
@include makeIcon('arrows-h',
'\f125');
@include makeIcon('arrows-v',
'\f126');
@include makeIcon('asterisk',
'\f127');
@include makeIcon('at',
'\f128');
@include makeIcon('automobile',
'\f129');
@include makeIcon('balance-scale',
'\f12b');
@include makeIcon('ban',
'\f12c');
@include makeIcon('bank',
'\f12d');
@include makeIcon('bar-chart',
'\f12e');
@include makeIcon('bar-chart-o',
'\f12f');
@include makeIcon('barcode',
'\f130');
@include makeIcon('bars',
'\f131');
@include makeIcon('battery-0',
'\f132');
@include makeIcon('battery-1',
'\f133');
@include makeIcon('battery-2',
'\f134');
@include makeIcon('battery-3',
'\f135');
@include makeIcon('battery-4',
'\f136');
@include makeIcon('battery-empty',
'\f137');
@include makeIcon('battery-full',
'\f138');
@include makeIcon('battery-half',
'\f139');
@include makeIcon('battery-quarter',
'\f13a');
@include makeIcon('battery-three-quarters',
'\f13b');
@include makeIcon('bed',
'\f13c');
@include makeIcon('beer',
'\f13d');
@include makeIcon('bell',
'\f140');
@include makeIcon('bell-o',
'\f141');
@include makeIcon('bell-slash',
'\f142');
@include makeIcon('bell-slash-o',
'\f143');
@include makeIcon('bicycle',
'\f144');
@include makeIcon('binoculars',
'\f145');
@include makeIcon('birthday-cake',
'\f146');
@include makeIcon('bolt',
'\f14c');
@include makeIcon('bomb',
'\f14d');
@include makeIcon('book',
'\f14e');
@include makeIcon('bookmark',
'\f14f');
@include makeIcon('bookmark-o',
'\f150');
@include makeIcon('briefcase',
'\f151');
@include makeIcon('bug',
'\f153');
@include makeIcon('building',
'\f154');
@include makeIcon('building-o',
'\f155');
@include makeIcon('bullhorn',
'\f156');
@include makeIcon('bullseye',
'\f157');
@include makeIcon('bus',
'\f158');
@include makeIcon('cab',
'\f15a');
@include makeIcon('calculator',
'\f15b');
@include makeIcon('calendar',
'\f15c');
@include makeIcon('calendar-check-o',
'\f15d');
@include makeIcon('calendar-minus-o',
'\f15e');
@include makeIcon('calendar-o',
'\f15f');
@include makeIcon('calendar-plus-o',
'\f160');
@include makeIcon('calendar-times-o',
'\f161');
@include makeIcon('camera',
'\f162');
@include makeIcon('camera-retro',
'\f163');
@include makeIcon('car',
'\f164');
@include makeIcon('caret-square-o-down',
'\f168');
@include makeIcon('caret-square-o-left',
'\f169');
@include makeIcon('caret-square-o-right',
'\f16a');
@include makeIcon('caret-square-o-up',
'\f16b');
@include makeIcon('cart-arrow-down',
'\f16d');
@include makeIcon('cart-plus',
'\f16e');
@include makeIcon('cc',
'\f16f');
@include makeIcon('certificate',
'\f178');
@include makeIcon('check',
'\f17b');
@include makeIcon('check-circle',
'\f17c');
@include makeIcon('check-circle-o',
'\f17d');
@include makeIcon('check-square',
'\f17e');
@include makeIcon('check-square-o',
'\f17f');
@include makeIcon('child',
'\f188');
@include makeIcon('circle',
'\f18a');
@include makeIcon('circle-o',
'\f18b');
@include makeIcon('circle-o-notch',
'\f18c');
@include makeIcon('circle-thin',
'\f18d');
@include makeIcon('clock-o',
'\f18f');
@include makeIcon('clone',
'\f190');
@include makeIcon('close',
'\f191');
@include makeIcon('cloud',
'\f192');
@include makeIcon('cloud-download',
'\f193');
@include makeIcon('cloud-upload',
'\f194');
@include makeIcon('code',
'\f196');
@include makeIcon('code-fork',
'\f197');
@include makeIcon('coffee',
'\f199');
@include makeIcon('cog',
'\f19a');
@include makeIcon('cogs',
'\f19b');
@include makeIcon('comment',
'\f19d');
@include makeIcon('comment-o',
'\f19e');
@include makeIcon('commenting',
'\f19f');
@include makeIcon('commenting-o',
'\f1a0');
@include makeIcon('comments',
'\f1a1');
@include makeIcon('comments-o',
'\f1a2');
@include makeIcon('compass',
'\f1a3');
@include makeIcon('copyright',
'\f1a8');
@include makeIcon('creative-commons',
'\f1a9');
@include makeIcon('credit-card',
'\f1aa');
@include makeIcon('crop',
'\f1ab');
@include makeIcon('crosshairs',
'\f1ac');
@include makeIcon('cube',
'\f1ae');
@include makeIcon('cubes',
'\f1af');
@include makeIcon('cutlery',
'\f1b1');
@include makeIcon('dashboard',
'\f1b2');
@include makeIcon('database',
'\f1b4');
@include makeIcon('desktop',
'\f1b7');
@include makeIcon('diamond',
'\f1b9');
@include makeIcon('dot-circle-o',
'\f1bc');
@include makeIcon('download',
'\f1bd');
@include makeIcon('edit',
'\f1c1');
@include makeIcon('ellipsis-h',
'\f1c3');
@include makeIcon('ellipsis-v',
'\f1c4');
@include makeIcon('envelope',
'\f1c6');
@include makeIcon('envelope-o',
'\f1c7');
@include makeIcon('envelope-square',
'\f1c8');
@include makeIcon('eraser',
'\f1c9');
@include makeIcon('exchange',
'\f1cc');
@include makeIcon('exclamation',
'\f1cd');
@include makeIcon('exclamation-circle',
'\f1ce');
@include makeIcon('exclamation-triangle',
'\f1cf');
@include makeIcon('external-link',
'\f1d2');
@include makeIcon('external-link-square',
'\f1d3');
@include makeIcon('eye',
'\f1d4');
@include makeIcon('eye-slash',
'\f1d5');
@include makeIcon('eyedropper',
'\f1d6');
@include makeIcon('fax',
'\f1dc');
@include makeIcon('feed',
'\f2e3');
@include makeIcon('female',
'\f1dd');
@include makeIcon('fighter-jet',
'\f1de');
@include makeIcon('file-archive-o',
'\f1e0');
@include makeIcon('file-audio-o',
'\f1e1');
@include makeIcon('file-code-o',
'\f1e2');
@include makeIcon('file-excel-o',
'\f1e3');
@include makeIcon('file-image-o',
'\f1e4');
@include makeIcon('file-movie-o',
'\f1e5');
@include makeIcon('file-pdf-o',
'\f1e7');
@include makeIcon('file-photo-o',
'\f1e8');
@include makeIcon('file-picture-o',
'\f1e9');
@include makeIcon('file-powerpoint-o',
'\f1ea');
@include makeIcon('file-sound-o',
'\f1eb');
@include makeIcon('file-video-o',
'\f1ee');
@include makeIcon('file-word-o',
'\f1ef');
@include makeIcon('file-zip-o',
'\f1f0');
@include makeIcon('film',
'\f1f2');
@include makeIcon('filter',
'\f1f3');
@include makeIcon('fire',
'\f1f4');
@include makeIcon('fire-extinguisher',
'\f1f5');
@include makeIcon('flag',
'\f1f7');
@include makeIcon('flag-checkered',
'\f1f8');
@include makeIcon('flag-o',
'\f1f9');
@include makeIcon('flash',
'\f1fa');
@include makeIcon('flask',
'\f1fb');
@include makeIcon('folder',
'\f1fe');
@include makeIcon('folder-o',
'\f1ff');
@include makeIcon('folder-open',
'\f200');
@include makeIcon('folder-open-o',
'\f201');
@include makeIcon('frown-o',
'\f207');
@include makeIcon('futbol-o',
'\f208');
@include makeIcon('gamepad',
'\f209');
@include makeIcon('gavel',
'\f20a');
@include makeIcon('gear',
'\f20c');
@include makeIcon('gears',
'\f20d');
@include makeIcon('gift',
'\f212');
@include makeIcon('glass',
'\f218');
@include makeIcon('globe',
'\f219');
@include makeIcon('graduation-cap',
'\f21e');
@include makeIcon('group',
'\f220');
@include makeIcon('hand-grab-o',
'\f223');
@include makeIcon('hand-lizard-o',
'\f224');
@include makeIcon('hand-paper-o',
'\f229');
@include makeIcon('hand-peace-o',
'\f22a');
@include makeIcon('hand-pointer-o',
'\f22b');
@include makeIcon('hand-rock-o',
'\f22c');
@include makeIcon('hand-scissors-o',
'\f22d');
@include makeIcon('hand-spock-o',
'\f22e');
@include makeIcon('hand-stop-o',
'\f22f');
@include makeIcon('hdd-o',
'\f230');
@include makeIcon('headphones',
'\f232');
@include makeIcon('heart',
'\f233');
@include makeIcon('heart-o',
'\f234');
@include makeIcon('heartbeat',
'\f235');
@include makeIcon('history',
'\f236');
@include makeIcon('home',
'\f237');
@include makeIcon('hotel',
'\f239');
@include makeIcon('hourglass',
'\f23a');
@include makeIcon('hourglass-1',
'\f23b');
@include makeIcon('hourglass-2',
'\f23c');
@include makeIcon('hourglass-3',
'\f23d');
@include makeIcon('hourglass-end',
'\f23e');
@include makeIcon('hourglass-half',
'\f23f');
@include makeIcon('hourglass-o',
'\f240');
@include makeIcon('hourglass-start',
'\f241');
@include makeIcon('i-cursor',
'\f244');
@include makeIcon('image',
'\f246');
@include makeIcon('inbox',
'\f247');
@include makeIcon('industry',
'\f249');
@include makeIcon('info',
'\f24a');
@include makeIcon('info-circle',
'\f24b');
@include makeIcon('institution',
'\f24e');
@include makeIcon('key',
'\f255');
@include makeIcon('keyboard-o',
'\f256');
@include makeIcon('language',
'\f258');
@include makeIcon('laptop',
'\f259');
@include makeIcon('leaf',
'\f25c');
@include makeIcon('legal',
'\f25e');
@include makeIcon('lemon-o',
'\f25f');
@include makeIcon('level-down',
'\f260');
@include makeIcon('level-up',
'\f261');
@include makeIcon('life-bouy',
'\f262');
@include makeIcon('life-buoy',
'\f263');
@include makeIcon('life-ring',
'\f264');
@include makeIcon('life-saver',
'\f265');
@include makeIcon('lightbulb-o',
'\f266');
@include makeIcon('line-chart',
'\f267');
@include makeIcon('location-arrow',
'\f270');
@include makeIcon('lock',
'\f271');
@include makeIcon('magic',
'\f276');
@include makeIcon('magnet',
'\f277');
@include makeIcon('mail-forward',
'\f278');
@include makeIcon('mail-reply',
'\f279');
@include makeIcon('mail-reply-all',
'\f27a');
@include makeIcon('male',
'\f27b');
@include makeIcon('map',
'\f27c');
@include makeIcon('map-marker',
'\f27d');
@include makeIcon('map-o',
'\f27e');
@include makeIcon('map-pin',
'\f27f');
@include makeIcon('map-signs',
'\f280');
@include makeIcon('meh-o',
'\f28a');
@include makeIcon('microphone',
'\f28c');
@include makeIcon('microphone-slash',
'\f28d');
@include makeIcon('minus',
'\f28e');
@include makeIcon('minus-circle',
'\f28f');
@include makeIcon('minus-square',
'\f290');
@include makeIcon('minus-square-o',
'\f291');
@include makeIcon('mobile',
'\f292');
@include makeIcon('mobile-phone',
'\f293');
@include makeIcon('money',
'\f294');
@include makeIcon('moon-o',
'\f295');
@include makeIcon('mortar-board',
'\f296');
@include makeIcon('motorcycle',
'\f297');
@include makeIcon('mouse-pointer',
'\f298');
@include makeIcon('music',
'\f299');
@include makeIcon('navicon',
'\f29a');
@include makeIcon('newspaper-o',
'\f29c');
@include makeIcon('object-group',
'\f29d');
@include makeIcon('object-ungroup',
'\f29e');
@include makeIcon('paint-brush',
'\f2a7');
@include makeIcon('paper-plane',
'\f2a8');
@include makeIcon('paper-plane-o',
'\f2a9');
@include makeIcon('paw',
'\f2ae');
@include makeIcon('pencil',
'\f2b0');
@include makeIcon('pencil-square',
'\f2b1');
@include makeIcon('pencil-square-o',
'\f2b2');
@include makeIcon('phone',
'\f2b3');
@include makeIcon('phone-square',
'\f2b4');
@include makeIcon('photo',
'\f2b5');
@include makeIcon('picture-o',
'\f2b6');
@include makeIcon('pie-chart',
'\f2b7');
@include makeIcon('plane',
'\f2bd');
@include makeIcon('plug',
'\f2c1');
@include makeIcon('plus',
'\f2c2');
@include makeIcon('plus-circle',
'\f2c3');
@include makeIcon('plus-square',
'\f2c4');
@include makeIcon('plus-square-o',
'\f2c5');
@include makeIcon('power-off',
'\f2c6');
@include makeIcon('print',
'\f2c7');
@include makeIcon('puzzle-piece',
'\f2c8');
@include makeIcon('qrcode',
'\f2ca');
@include makeIcon('question',
'\f2cb');
@include makeIcon('question-circle',
'\f2cc');
@include makeIcon('quote-left',
'\f2cd');
@include makeIcon('quote-right',
'\f2ce');
@include makeIcon('random',
'\f2d0');
@include makeIcon('recycle',
'\f2d2');
@include makeIcon('refresh',
'\f2d5');
@include makeIcon('registered',
'\f2d6');
@include makeIcon('remove',
'\f342');
@include makeIcon('reorder',
'\f2d8');
@include makeIcon('reply',
'\f2da');
@include makeIcon('reply-all',
'\f2db');
@include makeIcon('retweet',
'\f2dc');
@include makeIcon('road',
'\f2de');
@include makeIcon('rocket',
'\f2df');
@include makeIcon('rss',
'\f2e3');
@include makeIcon('rss-square',
'\f2e4');
@include makeIcon('search',
'\f2eb');
@include makeIcon('search-minus',
'\f2ec');
@include makeIcon('search-plus',
'\f2ed');
@include makeIcon('send',
'\f2a8');
@include makeIcon('send-o',
'\f2a9');
@include makeIcon('server',
'\f2ef');
@include makeIcon('share',
'\f2f0');
@include makeIcon('share-alt',
'\f2f1');
@include makeIcon('share-alt-square',
'\f2f2');
@include makeIcon('share-square',
'\f2f3');
@include makeIcon('share-square-o',
'\f2f4');
@include makeIcon('shield',
'\f2f7');
@include makeIcon('ship',
'\f2f8');
@include makeIcon('shopping-cart',
'\f2fa');
@include makeIcon('sign-in',
'\f2fb');
@include makeIcon('sign-out',
'\f2fc');
@include makeIcon('signal',
'\f2fd');
@include makeIcon('sitemap',
'\f2ff');
@include makeIcon('sliders',
'\f303');
@include makeIcon('smile-o',
'\f305');
@include makeIcon('soccer-ball-o',
'\f208');
@include makeIcon('sort',
'\f306');
@include makeIcon('sort-alpha-asc',
'\f307');
@include makeIcon('sort-alpha-desc',
'\f308');
@include makeIcon('sort-amount-asc',
'\f309');
@include makeIcon('sort-amount-desc',
'\f30a');
@include makeIcon('sort-asc',
'\f30b');
@include makeIcon('sort-desc',
'\f30c');
@include makeIcon('sort-down',
'\f30c');
@include makeIcon('sort-numeric-asc',
'\f30d');
@include makeIcon('sort-numeric-desc',
'\f30e');
@include makeIcon('sort-up',
'\f30b');
@include makeIcon('space-shuttle',
'\f310');
@include makeIcon('spinner',
'\f311');
@include makeIcon('spoon',
'\f312');
@include makeIcon('square',
'\f314');
@include makeIcon('square-o',
'\f315');
@include makeIcon('star',
'\f318');
@include makeIcon('star-half',
'\f319');
@include makeIcon('star-half-empty',
'\f31a');
@include makeIcon('star-half-full',
'\f31a');
@include makeIcon('star-half-o',
'\f31a');
@include makeIcon('star-o',
'\f31b');
@include makeIcon('sticky-note',
'\f321');
@include makeIcon('sticky-note-o',
'\f322');
@include makeIcon('street-view',
'\f324');
@include makeIcon('suitcase',
'\f32a');
@include makeIcon('sun-o',
'\f32b');
@include makeIcon('support',
'\f264');
@include makeIcon('tablet',
'\f32e');
@include makeIcon('tachometer',
'\f32f');
@include makeIcon('tag',
'\f330');
@include makeIcon('tags',
'\f331');
@include makeIcon('tasks',
'\f332');
@include makeIcon('taxi',
'\f333');
@include makeIcon('television',
'\f334');
@include makeIcon('terminal',
'\f336');
@include makeIcon('thumb-tack',
'\f33c');
@include makeIcon('thumbs-down',
'\f33d');
@include makeIcon('thumbs-o-down',
'\f33e');
@include makeIcon('thumbs-o-up',
'\f33f');
@include makeIcon('thumbs-up',
'\f340');
@include makeIcon('ticket',
'\f341');
@include makeIcon('times',
'\f342');
@include makeIcon('times-circle',
'\f343');
@include makeIcon('times-circle-o',
'\f344');
@include makeIcon('tint',
'\f345');
@include makeIcon('toggle-down',
'\f168');
@include makeIcon('toggle-left',
'\f169');
@include makeIcon('toggle-off',
'\f346');
@include makeIcon('toggle-on',
'\f347');
@include makeIcon('toggle-right',
'\f16a');
@include makeIcon('toggle-up',
'\f16b');
@include makeIcon('trademark',
'\f348');
@include makeIcon('trash',
'\f34c');
@include makeIcon('trash-o',
'\f34d');
@include makeIcon('tree',
'\f34e');
@include makeIcon('trophy',
'\f351');
@include makeIcon('truck',
'\f352');
@include makeIcon('tty',
'\f354');
@include makeIcon('tv',
'\f334');
@include makeIcon('umbrella',
'\f35b');
@include makeIcon('university',
'\f35e');
@include makeIcon('unlock',
'\f360');
@include makeIcon('unlock-alt',
'\f361');
@include makeIcon('unsorted',
'\f306');
@include makeIcon('upload',
'\f362');
@include makeIcon('user',
'\f364');
@include makeIcon('user-plus',
'\f366');
@include makeIcon('user-secret',
'\f367');
@include makeIcon('user-times',
'\f368');
@include makeIcon('users',
'\f369');
@include makeIcon('video-camera',
'\f36e');
@include makeIcon('volume-down',
'\f373');
@include makeIcon('volume-off',
'\f374');
@include makeIcon('volume-up',
'\f375');
@include makeIcon('warning',
'\f376');
@include makeIcon('wheelchair',
'\f37b');
@include makeIcon('wifi',
'\f37c');
@include makeIcon('wrench',
'\f381');
@include makeIcon('hand-o-down',
'\f225');
@include makeIcon('hand-o-left',
'\f226');
@include makeIcon('hand-o-right',
'\f227');
@include makeIcon('hand-o-up',
'\f228');
@include makeIcon('ambulance',
'\f108');
@include makeIcon('subway',
'\f329');
@include makeIcon('train',
'\f349');
@include makeIcon('genderless',
'\f20e');
@include makeIcon('intersex',
'\f34a');
@include makeIcon('mars',
'\f281');
@include makeIcon('mars-double',
'\f282');
@include makeIcon('mars-stroke',
'\f283');
@include makeIcon('mars-stroke-h',
'\f284');
@include makeIcon('mars-stroke-v',
'\f285');
@include makeIcon('mercury',
'\f28b');
@include makeIcon('neuter',
'\f29b');
@include makeIcon('transgender',
'\f34a');
@include makeIcon('transgender-alt',
'\f34b');
@include makeIcon('venus',
'\f36a');
@include makeIcon('venus-double',
'\f36b');
@include makeIcon('venus-mars',
'\f36c');
@include makeIcon('file',
'\f1df');
@include makeIcon('file-o',
'\f1e6');
@include makeIcon('file-text',
'\f1ec');
@include makeIcon('file-text-o',
'\f1ed');
@include makeIcon('cc-amex',
'\f170');
@include makeIcon('cc-diners-club',
'\f171');
@include makeIcon('cc-discover',
'\f172');
@include makeIcon('cc-jcb',
'\f173');
@include makeIcon('cc-mastercard',
'\f174');
@include makeIcon('cc-paypal',
'\f175');
@include makeIcon('cc-stripe',
'\f176');
@include makeIcon('cc-visa',
'\f177');
@include makeIcon('google-wallet',
'\f21d');
@include makeIcon('paypal',
'\f2af');
@include makeIcon('bitcoin',
'\f149');
@include makeIcon('btc',
'\f152');
@include makeIcon('cny',
'\f195');
@include makeIcon('dollar',
'\f1bb');
@include makeIcon('eur',
'\f1ca');
@include makeIcon('euro',
'\f1cb');
@include makeIcon('gbp',
'\f20b');
@include makeIcon('gg',
'\f210');
@include makeIcon('gg-circle',
'\f211');
@include makeIcon('ils',
'\f245');
@include makeIcon('inr',
'\f24c');
@include makeIcon('jpy',
'\f253');
@include makeIcon('krw',
'\f257');
@include makeIcon('rmb',
'\f2dd');
@include makeIcon('rouble',
'\f2e2');
@include makeIcon('rub',
'\f2e5');
@include makeIcon('ruble',
'\f2e6');
@include makeIcon('rupee',
'\f2e7');
@include makeIcon('shekel',
'\f2f5');
@include makeIcon('sheqel',
'\f2f6');
@include makeIcon('try',
'\f353');
@include makeIcon('turkish-lira',
'\f357');
@include makeIcon('usd',
'\f363');
@include makeIcon('won',
'\f37f');
@include makeIcon('yen',
'\f38a');
@include makeIcon('align-center',
'\f103');
@include makeIcon('align-justify',
'\f104');
@include makeIcon('align-left',
'\f105');
@include makeIcon('align-right',
'\f106');
@include makeIcon('bold',
'\f14b');
@include makeIcon('chain',
'\f179');
@include makeIcon('chain-broken',
'\f17a');
@include makeIcon('clipboard',
'\f18e');
@include makeIcon('columns',
'\f19c');
@include makeIcon('copy',
'\f1a7');
@include makeIcon('cut',
'\f1b0');
@include makeIcon('dedent',
'\f1b5');
@include makeIcon('files-o',
'\f1f1');
@include makeIcon('floppy-o',
'\f1fd');
@include makeIcon('font',
'\f202');
@include makeIcon('header',
'\f231');
@include makeIcon('indent',
'\f248');
@include makeIcon('italic',
'\f251');
@include makeIcon('link',
'\f268');
@include makeIcon('list',
'\f26c');
@include makeIcon('list-alt',
'\f26d');
@include makeIcon('list-ol',
'\f26e');
@include makeIcon('list-ul',
'\f26f');
@include makeIcon('outdent',
'\f2a5');
@include makeIcon('paperclip',
'\f2aa');
@include makeIcon('paragraph',
'\f2ab');
@include makeIcon('paste',
'\f2ac');
@include makeIcon('repeat',
'\f2d9');
@include makeIcon('rotate-left',
'\f2e0');
@include makeIcon('rotate-right',
'\f2e1');
@include makeIcon('save',
'\f2e9');
@include makeIcon('scissors',
'\f2ea');
@include makeIcon('strikethrough',
'\f325');
@include makeIcon('subscript',
'\f328');
@include makeIcon('superscript',
'\f32c');
@include makeIcon('table',
'\f32d');
@include makeIcon('text-height',
'\f337');
@include makeIcon('text-width',
'\f338');
@include makeIcon('th',
'\f339');
@include makeIcon('th-large',
'\f33a');
@include makeIcon('th-list',
'\f33b');
@include makeIcon('underline',
'\f35c');
@include makeIcon('undo',
'\f35d');
@include makeIcon('unlink',
'\f35f');
@include makeIcon('angle-double-down',
'\f10c');
@include makeIcon('angle-double-left',
'\f10d');
@include makeIcon('angle-double-right',
'\f10e');
@include makeIcon('angle-double-up',
'\f10f');
@include makeIcon('angle-down',
'\f110');
@include makeIcon('angle-left',
'\f111');
@include makeIcon('angle-right',
'\f112');
@include makeIcon('angle-up',
'\f113');
@include makeIcon('arrow-circle-down',
'\f117');
@include makeIcon('arrow-circle-left',
'\f118');
@include makeIcon('arrow-circle-o-down',
'\f119');
@include makeIcon('arrow-circle-o-left',
'\f11a');
@include makeIcon('arrow-circle-o-right',
'\f11b');
@include makeIcon('arrow-circle-o-up',
'\f11c');
@include makeIcon('arrow-circle-right',
'\f11d');
@include makeIcon('arrow-circle-up',
'\f11e');
@include makeIcon('arrow-down',
'\f11f');
@include makeIcon('arrow-left',
'\f120');
@include makeIcon('arrow-right',
'\f121');
@include makeIcon('arrow-up',
'\f122');
@include makeIcon('arrows-alt',
'\f124');
@include makeIcon('caret-down',
'\f165');
@include makeIcon('caret-left',
'\f166');
@include makeIcon('caret-right',
'\f167');
@include makeIcon('caret-up',
'\f16c');
@include makeIcon('chevron-circle-down',
'\f180');
@include makeIcon('chevron-circle-left',
'\f181');
@include makeIcon('chevron-circle-right',
'\f182');
@include makeIcon('chevron-circle-up',
'\f183');
@include makeIcon('chevron-down',
'\f184');
@include makeIcon('chevron-left',
'\f185');
@include makeIcon('chevron-right',
'\f186');
@include makeIcon('chevron-up',
'\f187');
@include makeIcon('long-arrow-down',
'\f272');
@include makeIcon('long-arrow-left',
'\f273');
@include makeIcon('long-arrow-right',
'\f274');
@include makeIcon('long-arrow-up',
'\f275');
@include makeIcon('backward',
'\f12a');
@include makeIcon('compress',
'\f1a4');
@include makeIcon('eject',
'\f1c2');
@include makeIcon('expand',
'\f1d0');
@include makeIcon('fast-backward',
'\f1da');
@include makeIcon('fast-forward',
'\f1db');
@include makeIcon('forward',
'\f205');
@include makeIcon('pause',
'\f2ad');
@include makeIcon('play',
'\f2be');
@include makeIcon('play-circle',
'\f2bf');
@include makeIcon('play-circle-o',
'\f2c0');
@include makeIcon('step-backward',
'\f31e');
@include makeIcon('step-forward',
'\f31f');
@include makeIcon('stop',
'\f323');
@include makeIcon('youtube-play',
'\f38c');
@include makeIcon('500px',
'\f100');
@include makeIcon('adn',
'\f102');
@include makeIcon('amazon',
'\f107');
@include makeIcon('android',
'\f10a');
@include makeIcon('angellist',
'\f10b');
@include makeIcon('apple',
'\f114');
@include makeIcon('behance',
'\f13e');
@include makeIcon('behance-square',
'\f13f');
@include makeIcon('bitbucket',
'\f147');
@include makeIcon('bitbucket-square',
'\f148');
@include makeIcon('black-tie',
'\f14a');
@include makeIcon('buysellads',
'\f159');
@include makeIcon('chrome',
'\f189');
@include makeIcon('codepen',
'\f198');
@include makeIcon('connectdevelop',
'\f1a5');
@include makeIcon('contao',
'\f1a6');
@include makeIcon('css3',
'\f1ad');
@include makeIcon('dashcube',
'\f1b3');
@include makeIcon('delicious',
'\f1b6');
@include makeIcon('deviantart',
'\f1b8');
@include makeIcon('digg',
'\f1ba');
@include makeIcon('dribbble',
'\f1be');
@include makeIcon('dropbox',
'\f1bf');
@include makeIcon('drupal',
'\f1c0');
@include makeIcon('empire',
'\f1c5');
@include makeIcon('expeditedssl',
'\f1d1');
@include makeIcon('facebook',
'\f1d7');
@include makeIcon('facebook-f',
'\f1d7');
@include makeIcon('facebook-official',
'\f1d8');
@include makeIcon('facebook-square',
'\f1d9');
@include makeIcon('firefox',
'\f1f6');
@include makeIcon('flickr',
'\f1fc');
@include makeIcon('fonticons',
'\f203');
@include makeIcon('forumbee',
'\f204');
@include makeIcon('foursquare',
'\f206');
@include makeIcon('ge',
'\f1c5');
@include makeIcon('get-pocket',
'\f20f');
@include makeIcon('git',
'\f213');
@include makeIcon('git-square',
'\f214');
@include makeIcon('github',
'\f215');
@include makeIcon('github-alt',
'\f216');
@include makeIcon('github-square',
'\f217');
@include makeIcon('gittip',
'\f21f');
@include makeIcon('google',
'\f21a');
@include makeIcon('google-plus',
'\f21b');
@include makeIcon('google-plus-square',
'\f21c');
@include makeIcon('gratipay',
'\f21f');
@include makeIcon('hacker-news',
'\f222');
@include makeIcon('houzz',
'\f242');
@include makeIcon('html5',
'\f243');
@include makeIcon('instagram',
'\f24d');
@include makeIcon('internet-explorer',
'\f24f');
@include makeIcon('ioxhost',
'\f250');
@include makeIcon('joomla',
'\f252');
@include makeIcon('jsfiddle',
'\f254');
@include makeIcon('lastfm',
'\f25a');
@include makeIcon('lastfm-square',
'\f25b');
@include makeIcon('leanpub',
'\f25d');
@include makeIcon('linkedin',
'\f269');
@include makeIcon('linkedin-square',
'\f26a');
@include makeIcon('linux',
'\f26b');
@include makeIcon('maxcdn',
'\f286');
@include makeIcon('meanpath',
'\f287');
@include makeIcon('medium',
'\f288');
@include makeIcon('odnoklassniki',
'\f29f');
@include makeIcon('odnoklassniki-square',
'\f2a0');
@include makeIcon('opencart',
'\f2a1');
@include makeIcon('openid',
'\f2a2');
@include makeIcon('opera',
'\f2a3');
@include makeIcon('optin-monster',
'\f2a4');
@include makeIcon('pagelines',
'\f2a6');
@include makeIcon('pied-piper',
'\f2b8');
@include makeIcon('pied-piper-alt',
'\f2b9');
@include makeIcon('pinterest',
'\f2ba');
@include makeIcon('pinterest-p',
'\f2bb');
@include makeIcon('pinterest-square',
'\f2bc');
@include makeIcon('qq',
'\f2c9');
@include makeIcon('ra',
'\f2cf');
@include makeIcon('rebel',
'\f2d1');
@include makeIcon('reddit',
'\f2d3');
@include makeIcon('reddit-square',
'\f2d4');
@include makeIcon('renren',
'\f2d7');
@include makeIcon('safari',
'\f2e8');
@include makeIcon('sellsy',
'\f2ee');
@include makeIcon('shirtsinbulk',
'\f2f9');
@include makeIcon('simplybuilt',
'\f2fe');
@include makeIcon('skyatlas',
'\f300');
@include makeIcon('skype',
'\f301');
@include makeIcon('slack',
'\f302');
@include makeIcon('slideshare',
'\f304');
@include makeIcon('soundcloud',
'\f30f');
@include makeIcon('spotify',
'\f313');
@include makeIcon('stack-exchange',
'\f316');
@include makeIcon('stack-overflow',
'\f317');
@include makeIcon('steam',
'\f31c');
@include makeIcon('steam-square',
'\f31d');
@include makeIcon('stumbleupon',
'\f326');
@include makeIcon('stumbleupon-circle',
'\f327');
@include makeIcon('tencent-weibo',
'\f335');
@include makeIcon('trello',
'\f34f');
@include makeIcon('tripadvisor',
'\f350');
@include makeIcon('tumblr',
'\f355');
@include makeIcon('tumblr-square',
'\f356');
@include makeIcon('twitch',
'\f358');
@include makeIcon('twitter',
'\f359');
@include makeIcon('twitter-square',
'\f35a');
@include makeIcon('viacoin',
'\f36d');
@include makeIcon('vimeo',
'\f36f');
@include makeIcon('vimeo-square',
'\f370');
@include makeIcon('vine',
'\f371');
@include makeIcon('vk',
'\f372');
@include makeIcon('wechat',
'\f377');
@include makeIcon('weibo',
'\f378');
@include makeIcon('weixin',
'\f379');
@include makeIcon('whatsapp',
'\f37a');
@include makeIcon('wikipedia-w',
'\f37d');
@include makeIcon('windows',
'\f37e');
@include makeIcon('wordpress',
'\f380');
@include makeIcon('xing',
'\f382');
@include makeIcon('xing-square',
'\f383');
@include makeIcon('y-combinator',
'\f384');
@include makeIcon('y-combinator-square',
'\f385');
@include makeIcon('yahoo',
'\f386');
@include makeIcon('yc',
'\f387');
@include makeIcon('yc-square',
'\f388');
@include makeIcon('yelp',
'\f389');
@include makeIcon('youtube',
'\f38b');
@include makeIcon('youtube-square',
'\f38d');
@include makeIcon('h-square',
'\f221');
@include makeIcon('hospital-o',
'\f238');
@include makeIcon('medkit',
'\f289');
@include makeIcon('stethoscope',
'\f320');
@include makeIcon('user-md',
'\f365');