[order] {
    border-radius: 10px;
    height: 100%;
    ion-card-header {
        font-size: 14px;
        color: white;
        &.balanced {
            @include linearGradient($balanced, adjust-hue($balanced, 35));
        }
    }
    ion-card-content {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    ion-icon[huge] {
        font-size: 70px;
        color: #efefef;
        &:before {
            font-size: 70px;
        }
    }
    &[color=balanced] {
        [order-infos] {
            [customer-name] {
                color: $balanced;
            }
            [address] {
                ion-icon {
                    color: $balanced;
                }
            }
            [view-more],
            [view-more] ion-icon {
                color: $balanced !important;
            }
        }
    }
    [order-infos] {
        font-size: 14px;
        [customer-name] {
            font-size: 20px;
            margin-bottom: 10px;
            font-weight: 200;
            color: $secondary;
        }
        [address] {
            font-size: 13px;
            color: #999;
            white-space: normal;
            ion-icon {
                vertical-align: baseline;
                color: $primary;
                &:before{
                    font-size: 18px;
                }
            }
        }
        [view-more] {
            color: $secondary !important;
            display: block;
            margin-top: 10px;
            font-size: 12px;
            text-transform: uppercase;
            ion-icon {
                vertical-align: middle;
                color: $secondary;
                margin-right: 5px;
                &:before{
                    font-size: 16px;
                }
            }
        }
    }
    [time] {
        font-size: 12px;
        color: $light-grey;
        margin-top: 0px;
        ion-icon:before {
            vertical-align: middle;
            color: $light-grey;
        }
    }
}