.md {
    ion-segment {
        max-width: 500px;
        margin: auto;
        margin-top: 0px;
        ion-segment-button.segment-button{
            background-color: white;
            color: $secondary;
        }
    }
}