[text-bold] {
    font-weight: bold;
}

@mixin textColor($colorName) {
    [text-color=#{$colorName}] {
        color: map-get($colors, $colorName) !important;
    }
}

@include textColor("primary");
@include textColor("secondary");
@include textColor("balanced");
@include textColor("energized");
@include textColor("danger");
@include textColor("positive");
@include textColor("dark");
@include textColor("light");
@include textColor("almost-white");
[text-size=sm] {
    font-size: 12px;
}

[text-color=light] {
    color: white !important;
}

[text-color=dark] {
    color: $dark !important;
}

[typewrited] {
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    /* Ensures the content is not revealed until the animation */
    /* border-right: .15em solid orange; */
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 3s steps(40, end);
    &:after {
        content: '';
        width: 2px;
        background-color: orange;
        height: 16px;
        display: inline-block;
        vertical-align: bottom;
        animation: blink-caret .75s step-end infinite;
    }
}

/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        background-color: transparent
    }
    50% {
        background-color: orange;
    }
}