<!-- View Header -->
<ion-header>
    <ion-navbar color="secondary">
        <ion-title>
            <mars-translatable content="order"></mars-translatable>
        </ion-title>
    </ion-navbar>
</ion-header>
<!-- View Content -->
<ion-content>
    <!-- Loading... -->
    <mars-view-spinner *ngIf="!order"> </mars-view-spinner>
    <!-- Map -->
    <section id="order-details-map" map-canvas data-tap-disabled="true" [ngClass]="{ 'loading': isLoadingMap }">
    </section>

    <!-- Items! -->
    <article order *ngIf="order">
        <!-- Customer Info -->
        <section info text-center margin-top margin-bottom user-info user-name *ngIf="authService.hasRole('MERCHANT')">
            <span user-name padding-top>
                <ion-icon name="contact"></ion-icon> {{order.customer.name}}
            </span>
        </section>
        <!-- Merchant Options Towards Order -->
        <article padding text-center *ngIf="authService.hasRole('MERCHANT') && order.merchant && (order.merchant._id == currentUser)">
            <!-- Reject Order -->
            <section button-with-label>
                <button padding ion-button round color="danger" (click)="cancel()">
                    <ion-icon name="close"></ion-icon>&nbsp;
                </button>
                <label text-color="danger">
                    <mars-translatable content="reject"></mars-translatable>
                </label>
            </section>
            <!-- Accept Order -->
            <section button-with-label order>
                <button padding ion-button round color="balanced" (click)="accept()">
                    <ion-icon name="checkmark"></ion-icon>&nbsp;
                </button>
                <label text-color="balanced">
                    <mars-translatable content="accept"></mars-translatable>
                </label>
            </section>
        </article>
        <!-- Rating -->
        <section info text-center user-info *ngIf="authService.hasRole('CUSTOMER')">
            <section rate text-center *ngIf="authService.hasRole('CUSTOMER') && order.status == 'accepted'">
                <mars-translatable [content]="order.rating ? 'evaluation' : 'evaluate'"></mars-translatable>:
                <rating [ngModel]="order.rating" [readOnly]="order.rating" max="5" emptyStarIconName="star-outline"
                    halfStarIconName="star-half" starIconName="star" nullable="false" (ngModelChange)="rateWith($event)"></rating>
            </section>
        </section>
        <!-- Order Market Info & Items -->
        <article>
            <section ion-row infos>
                <!-- Order details -->
                <article ion-col col-12 col-md-6 order-details>
                    <!-- Order Details -->
                    <ion-card infos-content text-left>
                        <ion-card-header text-center>
                            <mars-translatable content="information"></mars-translatable>
                        </ion-card-header>
                        <ion-card-content padding-bottom>
                            <ion-row infos>
                                <!-- User Address -->
                                <section info ion-col col-12 col-md-6 *ngIf="order.receivingMode !== 'CHECKOUT'">
                                    <p info-title>
                                        <ion-icon name="pin"></ion-icon>&nbsp;
                                        <mars-translatable content="address"></mars-translatable>:
                                    </p>
                                    <p>{{ authService.hasRole('MERCHANT') ? order.customer.address.street :
                                        order.merchant.address.street
                                        }}
                                    </p>
                                </section>
                                <!-- Order receiving mode -->
                                <section info ion-col col-12 col-md-6>
                                    <p info-title>
                                        <ion-icon name="paper-plane"></ion-icon>&nbsp;
                                        <mars-translatable content="receiving_mode"></mars-translatable>:
                                    </p>
                                    <mars-translatable [content]="order.receivingMode"></mars-translatable>
                                </section>
                                <!-- Order payment mode -->
                                <section info ion-col col-12 col-md-6 *ngIf="order.paymentInstrument">
                                    <p info-title>
                                        <ion-icon name="card"></ion-icon>&nbsp;
                                        <mars-translatable content="payment_mode"></mars-translatable>:
                                    </p>
                                    <mars-translatable [content]="order.paymentInstrument.label" *ngIf="order.paymentInstrument.label"></mars-translatable>
                                    <span *ngIf="order.paymentInstrument.brand && authService.hasRole('CUSTOMER')">****-****-****-{{
                                        order.paymentInstrument.last4 }} ({{ order.paymentInstrument.brand
                                        }})
                                    </span>
                                    <span *ngIf="order.paymentInstrument.brand && authService.hasRole('MERCHANT')">
                                        <mars-translatable content="via_app"></mars-translatable>:
                                    </span>
                                </section>
                                <!-- Order observations -->
                                <section info ion-col col-12 col-md-6 *ngIf="order.payload.observations">
                                    <p info-title>
                                        <ion-icon name="quote"></ion-icon>&nbsp;
                                        <mars-translatable content="observations"></mars-translatable>:
                                    </p>
                                    <i>"{{order.payload.observations}}"</i>
                                </section>
                            </ion-row>
                        </ion-card-content>
                    </ion-card>
                </article>
                <section ion-col col-12 col-md-6 *ngFor="let product of order.items; let currentIndex=index;">
                    <mars-product [(product)]="order.items[currentIndex]" [options]="productOptions" (view)="view(product)">
                    </mars-product>
                </section>
            </section>
        </article>
    </article>
</ion-content>