// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../theme/mixins";
@import "../theme/animations";
@import "../theme/components";
@import "../theme/fonts";
/* html {
    * {
        transition-property: all;
        transition-duration: .35s;
    }
} */

[project-logo] {
    background-image: url($app-logo-src);
    background-size: cover;
    width: 100px;
    height: 100px;
    margin: 50px auto auto;
    margin-top: 0px;
    border-radius: 50%;
}

ion-navbar[color=primary] .toolbar-background.toolbar-background-md,
ion-navbar[color=primary] .toolbar-background.toolbar-background-ios,
mars-navbar [header] {
    @include primary-gradient();
}

[no-border] {
    border: none;
}

[no-padding] {
    padding: 0px !important;
}

.toolbar-ios ion-title {
    padding: 0px;
}

ion-fab {
    &[bottom] {
        bottom: 80px;
    }
    &[right] {
        right: 20px;
    }
}
/* 
.ios,
.md {
    .header:after {
        background-image: none;
    }
    ion-navbar,
    ion-searchbar,
    .toolbar-background,
    .tabbar {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: white !important;
        background: none !important;
        border: none !important;
        *,
        .toolbar-title {
            color: $primary !important;
        }
    }
} */