
<ion-header>
    <ion-navbar color="secondary">
        <ion-title>
            <mars-translatable content="order_history"></mars-translatable>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    
    <mars-view-spinner *ngIf="!orders"> </mars-view-spinner>
    
    <mars-assistant [message]="translations.no_orders_made_message" *ngIf="orders && (!orders.length > 0)"></mars-assistant>
    
    <article *ngIf="orders && (orders.length > 0)">
        <ion-grid>
            <ion-row>
                
                <ion-col col-12 col-sm-12 col-lg-4 col-xl-4 *ngFor="let order of orders">
                    
                    <ion-card order>
                        
                        <ion-card-header *ngIf="order.customer && order.customer.name" [ngClass]="{ 'balanced': order.status == 'accepted' }">
                            
                            <span float-left *ngIf="order.job && order.job.origin && order.job.origin.address">
                                <b>{{ order.job.origin.address.city }}</b>
                            </span>
                            
                            <span float-right>
                                <ion-icon name="time"></ion-icon> {{ order.createdAt | fromNow }}
                            </span>
                        </ion-card-header>
                        <ion-card-content padding>
                            <ion-item>
                                <section item-left>
                                    <ion-icon huge name="car"></ion-icon>
                                </section>
                                
                                <section order-infos text-center>
                                    <p status>
                                        <mars-translatable [content]="'order_status_' + order.status"></mars-translatable>
                                    </p>
                                    
                                    <p address *ngIf="order.job && order.job.origin && order.job.origin.address">
                                        <ion-icon name="pin"></ion-icon> {{ order.job.origin.address.street }}
                                    </p>
                                    
                                    <a view-more (click)="showOrderDetailsFor(order)">
                                        <ion-icon name="add-circle"></ion-icon>
                                        <mars-translatable content="view_more"></mars-translatable>
                                    </a>
                                </section>
                            </ion-item>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </article>
</ion-content>