page-job-directions {
    [map-canvas] {
        max-height: 100%;
        &.loading {
            opacity: 0.2;
        }
    }
    [overlay-buttons]{
        position: absolute;
        text-align: center;
        padding: 16px;
        bottom: 0px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.95);
    }
}