mars-freight-stop {
    ion-card.card {
        ion-input {
            input {
                font-size: 12px;
                color: #444;
            }
        }
        [stop-items] {
            ion-label.label {
                margin: 0px;
            }
        }
        [stop-item-input] input {
            transition-property: all;
            transition-duration: .4s;
            border-bottom: 2px solid #efefef;
            padding: 10px;
            &:focus-within {
                border-bottom-width: 3px;
                border-bottom-color: lighten($secondary, 10%);
            }
        }
    }
}