<!-- View Header -->
<ion-header>
    <ion-navbar color="secondary">
        <!-- Searchbar Toggle -->
        <!-- <ion-buttons start>
            <button ion-button clear (click)="searchBarToggle = !searchBarToggle;">
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons> -->
        <!-- View Title -->
        <ion-title>
            <mars-translatable content="discover"></mars-translatable>
        </ion-title>
        <!-- Login Button -->
        <ion-buttons end *ngIf="!authService.isLoggedIn()">
            <button ion-button clear text-capitalize (click)="navigationService.setRoot('LoginPage', { 'token': 'access' })">
                <ion-icon name="log-in"></ion-icon>
                <mars-translatable content="sign_in"></mars-translatable>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<!-- View Content -->
<ion-content>
    <!-- View Searchbar -->
    <!-- <ion-searchbar [attr.show]="searchBarToggle" [(ngModel)]="keyword" backgroundColor="light" animated="true" showCancelButton="true"
        backgroundColor="light" [placeholder]="translations.search_by_the_partner_name" (ionInput)="onSearchInputChange($event)">
    </ion-searchbar> -->
    <ion-searchbar #searchbar [(ngModel)]="globals.orderAddress.street" mars-address-autocomplete="merchants-search" [attr.show]="true"
        backgroundColor="light" animated="true" showCancelButton="true" backgroundColor="light" [placeholder]="translations.type_your_address_here"
        (onSelect)="onAddressSelected($event)">
    </ion-searchbar>
    <!-- No address provided -->
    <article text-center padding no-location-provided *ngIf="!globals.orderAddress.location">
        <img nearby src="assets/images/assistant.png" height="200" width="200" />
        <section max-width-container>
            <h3 text-color="secondary">
                <mars-translatable content="where_are_you"></mars-translatable>
            </h3>
            <section text-color="light">
                <mars-translatable content="type_your_address_to_search_for_merchants"></mars-translatable>
            </section>
        </section>
    </article>
    <article *ngIf="globals.orderAddress.location">
        <!-- Loading... -->
        <mars-view-spinner *ngIf="!merchants"></mars-view-spinner>
        <!-- No Items. -->
        <mars-assistant [message]="translations.no_merchant_found_message" *ngIf="merchants && !(merchants.length > 0)">
        </mars-assistant>
        <!-- Items! -->
        <ion-grid>
            <ion-row>
                <!-- Merchants List -->
                <ion-col col-6 col-sm-6 col-md-4 col-lg-3 *ngFor="let merchant of merchants | orderBy: 'distance'; let index=index;">
                    <!-- Merchant Info -->
                    <ion-card (click)="redirectToMerchantDetailsPageFor(merchant)">
                        <!-- Merchant Name -->
                        <ion-card-header color="secondary">
                            {{ merchant.name }}
                        </ion-card-header>
                        <ion-card-content text-center no-padding>
                            <!-- Promotion Tag -->
                            <section discount-tag *ngIf="merchant.promotion">
                                <mars-translatable content="promotion"></mars-translatable>
                            </section>
                            <!-- Merchant Picture -->
                            <img [src]="merchant.picture">
                            <section text-center merchant-information>
                                <!-- New merchant -->
                                <section new-merchant *ngIf="!merchant.rating">
                                    Novo!
                                </section>
                                <!-- Merchant Address -->
                                <p info address>
                                    <ion-icon name="pin"></ion-icon> {{merchant.distance > 0 ? merchant.distance : 0.5}} Km
                                </p>
                                <!-- Merchant Rating -->
                                <section rate>
                                    <rating *ngIf="merchant.rating" [(ngModel)]="merchant.rating" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
                                        starIconName="star" nullable="false">
                                    </rating>
                                </section>
                                <!-- View Merchant Profile -->
                                <button ion-button clear color="balanced">
                                    <mars-translatable content="view_more"></mars-translatable>
                                </button>
                            </section>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </article>

</ion-content>