<ion-header>
    <ion-navbar color="secondary">
        <ion-title>
            <mars-translatable content="ride"></mars-translatable>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-segment [(ngModel)]="segment" color="secondary" *ngIf="order && !order.merchant">
        <ion-segment-button value="information">
            <mars-translatable content="information"></mars-translatable>
        </ion-segment-button>
        <ion-segment-button value="bids" (click)="scrollBidsDown()" *ngIf="authService.hasRole('MERCHANT') && enableBids()">
            <mars-translatable content="bids"></mars-translatable>
        </ion-segment-button>
        <ion-segment-button value="merchants" *ngIf="authService.hasRole('CUSTOMER')">
            <mars-translatable content="available_merchants"></mars-translatable>
        </ion-segment-button>
    </ion-segment>
    <mars-view-spinner *ngIf="!order"> </mars-view-spinner>
    <section id="job-details-map" map-canvas data-tap-disabled="true" [ngClass]="{ 'loading': isLoadingMap, 'hide': (segment !== 'information' || !(order && order.status == 'created')) }">
    </section>
    <article *ngIf="order">
        <article max-width-container order infos *ngIf="segment == 'information'">
            <article padding text-center *ngIf="authService.hasRole('MERCHANT') && order.merchant && order.status == 'awaiting_for_confirmation' && (order.merchant._id == currentUser)">
                <section button-with-label>
                    <button padding ion-button round color="danger" (click)="cancel()">
                        <ion-icon name="close"></ion-icon>&nbsp;
                    </button>
                    <label text-color="danger">
                        <mars-translatable content="reject"></mars-translatable>
                    </label>
                </section>
                <section button-with-label order>
                    <button padding ion-button round color="balanced" (click)="accept()">
                        <ion-icon name="checkmark"></ion-icon>&nbsp;
                    </button>
                    <label text-color="balanced">
                        <mars-translatable content="accept"></mars-translatable>
                    </label>
                </section>
            </article>
            <article job-details>
                <section text-center margin-bottom *ngIf="authService.hasRole('MERCHANT') && !order.merchant">
                    <button ion-button rounded color="secondary" (click)="setSegment('bids')">
                        <ion-icon name="add-circle"></ion-icon>&nbsp;
                        <mars-translatable content="post_a_bid"></mars-translatable>
                    </button>
                </section>
                <ion-card infos-content text-left>
                    <ion-card-header text-center>
                        <ion-icon name="information-circle"></ion-icon>&nbsp;
                        <mars-translatable content="information"></mars-translatable>
                    </ion-card-header>
                    <ion-card-content padding-bottom>
                        <ion-row infos>
                            <section info ion-col col-6 col-md-6 *ngIf="order.status">
                                <p info-title>
                                    <ion-icon name="quote"></ion-icon>&nbsp;
                                    <mars-translatable content="status"></mars-translatable>:
                                </p>
                                {{getOrderStatus(order)}}
                            </section>
                            <section info ion-col col-6 col-md-6 *ngIf="order.job && order.job.scheduledTo">
                                <p info-title>
                                    <ion-icon name="calendar"></ion-icon>&nbsp;
                                    <mars-translatable content="ride_date"></mars-translatable>:
                                </p>
                                {{order.job.scheduledTo | date }}
                                <mars-translatable content="at"></mars-translatable> {{order.job.scheduledTo | date :
                                'hh:mm' }}
                            </section>
                            <section info ion-col col-6 col-md-6 *ngIf="order.payload && order.payload.observations">
                                <p info-title>
                                    <ion-icon name="quote"></ion-icon>&nbsp;
                                    <mars-translatable content="observations"></mars-translatable>:
                                </p>
                                <i>"{{order.payload.observations}}"</i>
                            </section>
                            <section info ion-col col-6 col-md-6 *ngIf="order.job.origin.items && (order.job.origin.items.length > 0)">
                                <p info-title>
                                    <ion-icon name="albums"></ion-icon>&nbsp;
                                    <mars-translatable content="items"></mars-translatable>:
                                </p>
                                <section stop-items>
                                    <span *ngFor="let item of order.job.origin.items; let itemIndex = index;">
                                        {{item.description}}{{ (itemIndex == order.job.origin.items.length -
                                        1) || (order.job.origin.items.length == 0) ? "." : ", " }}
                                    </span>
                                </section>
                            </section>
                            <section info ion-col col-12 col-md-6 *ngIf="order.job.origin.items">
                                <p info-title>
                                    <ion-icon name="pin"></ion-icon>&nbsp;
                                    <mars-translatable content="stop_initial"></mars-translatable>:
                                </p>
                                {{ order.job.origin.address.street }}
                            </section>
                            <section info ion-col col-12 col-md-6 *ngIf="order.job.origin.items">
                                <p info-title>
                                    <ion-icon name="pin"></ion-icon>&nbsp;
                                    <mars-translatable content="stop_final"></mars-translatable>:
                                </p>
                                {{ order.job.destination.address.street }}
                            </section>


                            <section info ion-col col-12 col-md-6 *ngIf="authService.hasRole('MERCHANT') && order.customer && order.status == 'accepted'">
                                <p info-title>
                                    <ion-icon name="car"></ion-icon>&nbsp;
                                    <mars-translatable content="customer"></mars-translatable>:
                                </p>
                                {{order.customer.name}}
                            </section>
                        </ion-row>
                    </ion-card-content>
                </ion-card>

            </article>
        </article>
        <article bids *ngIf="authService.hasRole('MERCHANT') && segment == 'bids' && enableBids()">
            <article bids-list #bidsScroll>
                <section no-bids *ngIf="bids && !(bids.length > 0)">
                    <img tutor src="assets/images/assistant.png" />
                    <mars-translatable content="no_bids_yet"></mars-translatable>
                </section>

                <article bid *ngFor="let bid of bids" [ngClass]="{'received': !isSent(bid), 'sent': isSent(bid) }">
                    <section content>

                        <p value>
                            <ion-icon name="contact"></ion-icon> {{ bid.value | currency : 'BRL' }}
                        </p>

                        <section time>
                            {{ bid.createdAt | fromNow }}
                        </section>
                    </section>
                </article>
            </article>
            <form (ngSubmit)="createBid(newBidValue)">
                <ion-item>
                    <input type="tel" bid-value-input #bidInput [(ngModel)]="newBidValue" name="newBidValue"
                        [placeholder]="translations.bid_value_placeholder" currencyMask [options]="CURRENCY_OPTIONS"
                        (keypress)="onKeyPress($event)" text-center text-color="secondary">
                    <button ion-button round icon send-icon item-right #sendButton>
                        <ion-icon name="ios-paper-plane"></ion-icon>
                    </button>
                </ion-item>
            </form>
        </article>
    </article>
</ion-content>

<ion-footer *ngIf="authService.hasRole('MERCHANT') && order && order.customer && order.status == 'accepted'" color="balanced"
    (click)="startRide()">
    <mars-translatable content="start_ride"></mars-translatable>
</ion-footer>