<ion-header>
    <ion-navbar color="secondary">
        <ion-title>
            <mars-translatable content="subscription_plans"></mars-translatable>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    
    <mars-view-spinner *ngIf="!plans"> </mars-view-spinner>
    
    <mars-assistant [message]="translations.no_plans_nearby_found" *ngIf="plans && !(plans.length > 0)"></mars-assistant>
    
    <article adopt *ngIf="plans">
        
        <ion-row>
            
            <ion-col col-12 col-md-6 col-lg-4 *ngFor="let plan of plans">
                
                <ion-card plan [attr.color]="plan.deleted ? 'grey' : 'secondary'">
                    
                    <ion-card-header plan-name text-center>
                        {{plan.name}} {{ plan.deleted ? "(" + translations.deactivated + ")" : "" }}
                    </ion-card-header>
                    <button ion-button round icon float-right margin-right margin-top color="secondary" (click)="openSubscriptionPlanModal(plan)">
                        <ion-icon name="la-edit"></ion-icon>
                    </button>
                    <button ion-button round icon toggle-button float-right margin-right margin-top [attr.color]="plan.deleted ? 'balanced' : 'energized'"
                        (click)="togglePlan(plan)">
                        <ion-icon name="la-cloud-download" *ngIf="!plan.deleted"></ion-icon>
                        <ion-icon name="la-cloud-upload" *ngIf="plan.deleted"></ion-icon>
                    </button>
                    
                    <ion-card-content>
                        <p plan-price> {{ plan.price | currency : 'BRL' }} </p>
                        <p plan-description>{{plan.description | limitTo : 300 }}</p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </article>
    
    <div class="has-text-centered" *ngIf="plans && (plans.length > 0) && !globals.keyboardIsUp">
        <pagination-controls previousLabel="" nextLabel="" (pageChange)="refreshSubscriptionPlans($event)"></pagination-controls>
    </div>
</ion-content>

<ion-fab bottom right add *ngIf="authService.hasRole('ADMIN')">
    <button ion-fab color="balanced" (click)="openSubscriptionPlanModal()">
        <ion-icon name="la-plus"></ion-icon>
    </button>
</ion-fab>