<article *ngIf="product && product.information" product [ngClass]="{ 'deleted': isDeleted(), 'show-image': options.showPicture, 'discount-product' : product.discountPrice }">
    <section product-name>{{ product.information.name }}
        <p discount-tag *ngIf="options.showDiscountTag && product.discountPrice">
            <mars-translatable content="promotion"></mars-translatable>
        </p>
        <span *ngIf="options.showProductQuantity">({{product.quantity}}x)</span>
    </section>
    <ion-spinner product-spinner *ngIf="product.loading"></ion-spinner>
    <ion-item text-center no-padding>
        <section item-left>
            <img product-image *ngIf="options.showPicture" [src]="pictureService.getPicture(product.information.pictures[0])" (click)="view.emit(product)"
            />
        </section>
        <form>
            <p text-color="almost-white" deleted-tag *ngIf="isDeleted()">
                Status:
                <mars-translatable content="deactivated"></mars-translatable>
            </p>
            <p product-info product-price discount *ngIf="options.showDiscountPrice && product.discountPrice">
                <mars-translatable content="by" *ngIf="product.discountPrice"></mars-translatable>:
                <span price-value>{{ product.discountPrice | currency : 'BRL' }}</span>
            </p>
            <p product-info product-price *ngIf="options.showPrice && product.price">
                <span prefix *ngIf="product.discountPrice">
                    <mars-translatable content="from"></mars-translatable>:
                </span>
                <span price-value>{{ product.price | currency : 'BRL' }}</span>
            </p>
            <ion-row>
                <section col [attr.col-7]="options.showStockInput" *ngIf="options.showPriceInput" price-input>
                    <input name="price" autocomplete="off" autocorrect="off" padding-input type="tel" [placeholder]="'Preço (ex.: ' + (10.00 | currency : 'BRL') + ')'"
                        [(ngModel)]="product.price" currencyMask [options]="CURRENCY_OPTIONS" (blur)="blur.emit(product, 'price')">
                </section>
                <section col col-5 *ngIf="options.showStockInput" stock-input>
                    <input name="stock" autocomplete="off" autocorrect="off" padding-input type="tel" [placeholder]="'Qtd. em estoque'" [(ngModel)]="product.stock" (blur)="blur.emit(product, 'stock')"> 
                    <label text-color="almost-white">
                        <mars-translatable content="unities"></mars-translatable>
                    </label>
                </section>
            </ion-row>
            <section *ngIf="options.showDiscountPriceInput" price-input discount-price-input>
                <span prefix>
                    <mars-translatable content="by"></mars-translatable>:
                </span>
                <input name="discount_price" type="tel" [placeholder]="00.00 | currency : 'BRL'" [(ngModel)]="product.discountPrice" currencyMask
                    [options]="CURRENCY_OPTIONS">
            </section>
        </form>
        <section item-right *ngIf="showQuantityButtons()">
            <div no-padding cart-options>
                <button ion-button color="danger" quantity-button *ngIf="decrement.observers.length > 0" (click)="decrement.emit(product)"
                    [disabled]="product.loading || !product.quantity || !(product.quantity > 0)">
                    <ion-icon name="remove"></ion-icon>
                </button>
                <ion-icon cart-icon name="cart"></ion-icon>
                <button ion-button color="balanced" quantity-button *ngIf="increment.observers.length > 0" (click)="increment.emit(product)"
                    [disabled]="product.loading">
                    <ion-icon name="add"></ion-icon>
                </button>
                <p>{{ getQuantityFor(product) }}</p>
            </div>
        </section>
        <section *ngIf="showInventoryOptions()" inventory-options float-right>
            <button type="submit" ion-button round icon unicode color="balanced" *ngIf="save.observers.length > 0" (click)="save.emit(product)"
                [disabled]="product.loading || !product.price || (product.discountPrice ? product.price < product.discountPrice : false)">
                <ion-icon name="checkmark"></ion-icon>
            </button>
            <button type="submit" ion-button round icon add-button color="balanced" *ngIf="add.observers.length > 0" (click)="add.emit(product)"
                [disabled]="product.loading || !product.price || (product.discountPrice ? product.price < product.discountPrice : false)">
                <ion-icon name="add"></ion-icon>
            </button>
            <button type="button" ion-button round icon delete-button remove-button color="danger" *ngIf="remove.observers.length > 0"
                (click)="remove.emit(product)" [disabled]="product.loading">
                <ion-icon name="trash"></ion-icon>
            </button>
        </section>
        <section item-right *ngIf="showCatalogueOptions()">
            <a (click)="showOptionsFor($event, product)" text-color="light" more-options>
                <ion-icon name="more"></ion-icon>
            </a>
        </section>
        <button ion-button clear view-more color="positive" (click)="view.emit(product)" *ngIf="view.observers.length > 0">
            <mars-translatable content="view_more"></mars-translatable>
        </button>
    </ion-item>
</article>