<ion-header>
    <ion-navbar color="secondary">
        <ion-title>
            <mars-translatable content="settings"></mars-translatable>
        </ion-title>
        <ion-buttons end *ngIf="authService.isLoggedIn()">
            <button ion-button end clear text-capitalize (click)="logout()">
                <ion-icon name="exit"></ion-icon>
                <mars-translatable content="logout"></mars-translatable>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <section app-icon></section>
    <ion-grid>
        <ion-row>
            <ion-col col-12 col-md-6 col-xl-4 *ngFor="let setting of settings">
                <section ion-item category no-padding (click)="navigationService.goTo(setting.page)">
                    <ion-label>
                        <ion-icon [name]="setting.icon" color="secondary"></ion-icon>
                        <mars-translatable [content]="setting.name"></mars-translatable>
                    </ion-label>
                </section>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>