<ion-header>
    <ion-navbar color="secondary">
        <ion-title>
            <mars-translatable content="subscription_coupons"></mars-translatable>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    
    <mars-view-spinner *ngIf="!coupons"> </mars-view-spinner>
    
    <mars-assistant [message]="translations.no_coupons_nearby_found" *ngIf="coupons && !(coupons.length > 0)"></mars-assistant>
    
    <article adopt *ngIf="coupons">
        
        <ion-row>
            
            <ion-col col-12 col-md-6 col-lg-4 *ngFor="let coupon of coupons">
                
                <ion-card coupon>
                    
                    <ion-card-header coupon-name text-center [attr.color]="coupon.deleted ? 'grey' : 'secondary'">
                        {{coupon.name}} {{ coupon.deleted ? "(" + translations.deactivated + ")" : ""  }}
                    </ion-card-header>
                    <button ion-button round icon float-right margin-right margin-top color="positive" (click)="openSubscriptionCouponModal(coupon)">
                        <ion-icon name="la-edit"></ion-icon>
                    </button>
                    <button ion-button round icon toggle-button float-right margin-right margin-top [attr.color]="coupon.deleted ? 'balanced' : 'energized'"
                        (click)="toggleCoupon(coupon)">
                        <ion-icon name="la-close" *ngIf="!coupon.deleted"></ion-icon>
                        <ion-icon name="la-cloud-upload" *ngIf="coupon.deleted"></ion-icon>
                    </button>
                    
                    <ion-card-content>
                        <p coupon-price> {{ coupon.price | currency : 'BRL' }} </p>
                        <p coupon-description>{{coupon.description | limitTo : 300 }}</p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </article>
    
    <div class="has-text-centered" *ngIf="coupons && (coupons.length > 0) && !globals.keyboardIsUp">
        <pagination-controls previousLabel="" nextLabel="" (pageChange)="refreshSubscriptionCoupons($event)"></pagination-controls>
    </div>
</ion-content>

<ion-fab bottom right add *ngIf="authService.hasRole('ADMIN')">
    <button ion-fab color="balanced" (click)="openSubscriptionCouponModal()">
        <ion-icon name="la-plus"></ion-icon>
    </button>
</ion-fab>