
<ion-header>
    <ion-navbar color="secondary">
        
        <ion-title>
            <mars-translatable content="contact"></mars-translatable>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content #content text-center>
    
    <mars-signup-progress></mars-signup-progress>
    
    <form user-info max-width-container padding-top #form="ngForm">
        
        <article padding-top user-picture>
            <input type="file" name="file" id="file" class="inputfile" (change)="addPicture($event)" accept="image/jpg" />
            <label for="file" [attr.disabled]="changingPicture">+</label>
            <section picture-placeholder [attr.style]="getUserPicture() | safe : 'style'">
                <ion-icon name="camera" *ngIf="!changingPicture"></ion-icon>
                <ion-spinner *ngIf="changingPicture"></ion-spinner>
            </section>
            <section selected-picture></section>
        </article>
        
        <ion-item>
            <ion-label floating>
                <mars-translatable content="service_provider_description"></mars-translatable>&nbsp;
                <mars-translatable content="optional_input"></mars-translatable>
            </ion-label>
            <ion-textarea name="description" maxlength="1000" type="text" [(ngModel)]="user.description"></ion-textarea>
        </ion-item>
        
        <ion-item with-mask>
            <label>
                <mars-translatable content="your_username"></mars-translatable>
                <ion-spinner *ngIf="isCheckingUsername"></ion-spinner>
            </label>
            <input name="username" autocomplete="off" autocorrect="off" [placeholder]="translations.username_explanation" [(ngModel)]="user.username"
                type="text" required (blur)="checkUsername(user.username)" #username="ngModel">
        </ion-item>
        
        <p validation-warn [ngClass]="{ 'show': usernameInput && usernameInput.dirty && !isUniqueUsername }">
            <mars-translatable content="error_duplicated_username"></mars-translatable>
        </p>
        
        <ion-item with-mask>
            <label>
                <mars-translatable content="your_phone_number"></mars-translatable>
            </label>
            <input name="phone" autocomplete="off" autocorrect="off" [placeholder]="translations.mask_phone" [mask]="translations.mask_phone"
                [(ngModel)]="user.phone" type="tel" required>
        </ion-item>
        
        <ion-item with-mask>
            <label>
                <mars-translatable content="your_tax_document_CPF"></mars-translatable>
            </label>
            <input name="document" autocomplete="off" autocorrect="off" [placeholder]="translations.mask_cpf" [mask]="translations.mask_cpf"
                [(ngModel)]="user.documents[0].number" type="tel" required [cpf]="user.documents[0].number">
        </ion-item>
        
        <button ion-button *ngIf="!authService.finishedSignup()" icon round large margin-top color="danger" (click)="goBack()">
            <ion-icon name="close"> </ion-icon>
        </button>
        
        <button ion-button icon round large color="balanced" margin-top (click)="save()" [disabled]="!form.valid">
            <ion-icon name="checkmark"> </ion-icon>
        </button>
    </form>
</ion-content>