page-job-creation {
    ion-content.content {
        padding: 0px;
        [stops-list] {
            padding-bottom: 100px;
        }
        [max-width-container] {
            max-width: 600px;
        }
        ion-item[input-item] {
            ion-icon {
                vertical-align: bottom;
                margin-right: 4px;
            }
            input {
                text-align: center;
                padding-bottom: 5px;
                border-bottom: 2px solid #efefef;
            }
        }
        ion-datetime {
            color: $balanced;
        }
        [observations] {
            .item-inner {
                padding-right: 0px;
            }
            ion-textarea {
                transition-property: all;
                transition-duration: .4s;
                border-bottom: 2px solid #efefef;
                padding: 10px;
                &:focus-within {
                    border-bottom-width: 3px;
                    border-bottom-color: lighten($secondary, 10%);
                }
            }
        }
        [order] {
            margin: auto;
        }
        ion-card-header {
            ion-icon {
                vertical-align: text-bottom;
            }
        }
        [auto-fade] {
            max-height: 0px;
            opacity: 0;
            z-index: 0;
            &.show {
                max-height: 100%;
                opacity: 1;
                z-index: 999;
            }
        }
        ion-label {
            color: #999;
            ion-icon {
                vertical-align: middle;
            }
        }
        [datetime-input] {
            border-bottom: 1px solid #efefef;
            color: $secondary;
            padding-bottom: 6px;
            &:focus {
                font-weight: bold;
            }
        }
        [waiting] {
            height: 100vh;
            &.show {
                padding-top: 20vh;
            }
            ion-spinner {
                width: 80px;
                height: 80px;
                stroke: rgb(224, 154, 154);
                padding-bottom: 5px;
                margin-bottom: 40px;
            }
        }
    }
    ion-fab[margin-right] {
        margin-right: 40px !important;
    }
}