mars-navbar-walkthrough {
    [walkthrough] {
        left: 0px;
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 99;
        color: white;
        display: block;
        [text] {
            color: white;
            position: absolute;
            z-index: 100;
        }
        [focus] {
            margin-top: 2rem;
            font-size: 2.6rem;
            box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.7);
            display: inline-block;
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 5px; 
        }
    }
}