// Alert customization
.alert-ios,
.alert-md {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .alert-header,
    .alert-title {
        font-weight: normal !important;
    }
    .alert-wrapper {
        border-radius: 15px;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .alert-radio[aria-checked=true] .alert-radio-label,
    .alert-radio .alert-radio-label,
    .alert-checkbox[aria-checked=true] .alert-checkbox-label,
    .alert-checkbox .alert-checkbox-label {
        color: #333;
    }
    [aria-checked=true] {
        .alert-radio-icon {
            color: $secondary;
        }
    }
    .alert-head {
        padding: 20px 15px 10px 15px;
        text-align: center;
        color: $dark;
        .alert-title {
            font-size: 16px;
        }
    }
    .alert-message {
        color: $dark;
        font-size: 14px;
        padding-bottom: 0px;
    }
    .alert-message:empty {
        height: 0px;
    }
    button[ion-button].alert-button {
        font-weight: bold;
        color: adjust-hue($secondary, 2);
    }
    .alert-checkbox-group,
    .alert-radio-group {
        border: none;
    }
    &.select-alert {
        .alert-message {
            overflow-y: hidden;
        }
    }
}

.congrats {
    &.primary {
        .alert-wrapper {
            @include secondary-gradient();
        }
    }
    &.secondary {
        .alert-wrapper {
            @include linearGradient($secondary, adjust-hue($secondary, -15));
        }
    }
    &.balanced {
        .alert-wrapper {
            @include linearGradient($balanced, adjust-hue($balanced, 50));
            .alert-message {
                color: white;
            }
        }
    }
    &.confetti {
        .alert-wrapper {
            background: url(/assets/images/bgs/congrats.jpg);
            background-color: white;
            background-size: contain;
            background-repeat: no-repeat;
            .alert-message {
                color: $primary;
                .congrats-title {
                    color: $primary;
                }
            }
            .alert-button-group {
                background-color: $primary;
                .alert-button-default {
                    color: white;
                }
            }
        }
    }
    .alert-wrapper {
        max-width: 340px;
        height: 350px;
        border-radius: 10px 10px 10px 10px;
        .alert-head {
            display: none;
        }
        .alert-message {
            background-size: cover;
            border-radius: 10px 10px 10px 10px;
            height: 300px;
            max-height: 300px;
            font-weight: bold;
            text-align: left;
            text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
            .congrats-title {
                text-align: center;
                margin-top: 60px;
                font-weight: bold;
                font-size: 40px;
                padding-top: 20px;
                padding-bottom: 5px;
                color: white;
                text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
            }
            /*   .congrats-icon {
                text-align: center;
                padding-top: 10px;
                padding-bottom: 20px;
                  &::before {
                    font-size: 100px;
                    content: "\f2ba";
                    font-family: "Ionicons";
                    font-style: normal;
                    font-variant: normal;
                    font-weight: normal;
                    line-height: 1;
                    text-rendering: auto;
                    text-transform: none;
                    color: white;
                } 
            } */
        }
        .alert-button-group {
            position: absolute;
            bottom: 0px;
            text-align: center;
            display: block;
            bottom: 0px;
            width: 100%;
            .alert-button-default {
                color: white;
                display: inline-block;
            }
        }
    }
}

ion-modal.show-page .modal-wrapper {
    border-radius: 15px;
}