.md,
.ios {
    ion-badge {
        position: absolute;
        top: -1px;
        right: 4px;
        border-radius: 50%;
        @include linearGradient($energized, adjust-hue($energized, -10));
        height: 12px;
        width: 12px;
        padding: 0px;
        font-size: 0px;
        &~ion-icon {
            margin-right: 10px !important;
        }
    }
    /*     &:hover {
        ion-badge {
            background-color: white;
            color: $danger;
            transform: scale(1.3);
        }
    } */
}