$calendar-border-color: transparentize($secondary, 0.1);
ion-content.content {
    calendar {
        table.table {
            width: 100%;
            background-color: transparent;
            margin: auto;
            border: 1px solid lighten($background-color, 10%);
            border-collapse: separate;
            border: 1px solid $calendar-border-color;
            overflow: hidden;
            max-width: 90%;
            border-top-width: 2px;
            thead th {
                color: white;
                background-color: $calendar-border-color;
                text-transform: uppercase;
            }
            td,
            th {
                font-size: 12px;
                background-color: rgba(255, 255, 255, 0.2);
                color: lighten($secondary, 10%);
                border-color: $calendar-border-color !important;
                border-width: .5px !important;
                font-weight: bold;
                &.text-muted {
                    color: transparentize($secondary, 0.5) !important;
                    font-weight: normal;
                }
                &.monthview-current {
                    background-color: rgba(255, 255, 255, 0.9);
                    color: $secondary;
                }
                &.monthview-selected {
                    background-color: $calendar-border-color;
                    border-bottom: darken($calendar-border-color, 10%) !important;
                    color: white;
                }
            }
        }
    }
}