@import "../variables.scss";
[order] {
    border-radius: 10px;
    height: 100%;
    ion-card-header {
        font-size: 14px;
        @include secondary-gradient();
        color: white;
        &.balanced {
            @include linearGradient($balanced, adjust-hue($balanced, 35));
        }
    }
    ion-card-content.card-content {
        padding-top: 0px;
        section{
            padding-top: 5px;
        }
    }
    ion-icon[huge] {
        font-size: 70px;
        color: #dedede;
    }
    [order-infos] {
        font-size: 14px;
        [customer-name] {
            font-size: 20px;
            margin-bottom: 10px;
            font-weight: bold;
            color: $secondary;
        }
        [address] {
            font-size: 13px;
            color: $dark;
            white-space: normal;
            ion-icon {
                vertical-align: baseline;
                color: $primary;
            }
        }
        [view-more] {
            color: $secondary;
            display: block;
            margin-top: 10px;
            font-size: 16px;
            ion-icon {
                vertical-align: middle;
                color: $secondary;
                margin-right: 5px;
            }
        }
    }
    [time] {
        font-size: 12px;
        color: $light-grey;
        margin-top: 0px;
        ion-icon {
            vertical-align: middle;
            color: $light-grey;
        }
    }
    ion-icon[huge] {
        font-size: 42px;
        color: $secondary;
    }
}