@import "../variables.scss";
.popover-wrapper .popover-content {
    border-radius: 10px;
}

[more-options] {
    padding: 10px;
}

[popover-item] {
    font-size: 12px;
    text-align: left;
    padding-right: 16px;
    ion-label {
        color: $light;
    }
    ion-icon {
        vertical-align: bottom;
    }
    &:last-child {
        .item-inner {
            border-bottom: none;
        }
    }
}