@import "../variables.scss";
ion-searchbar {
    &.searchbar-md,
    &.searchbar-ios {
        .searchbar-input {
            border-radius: 30px;
        }
        &[backgroundcolor="secondary"] {
            @include linearGradient($secondary, adjust-hue($secondary, -10)); // background-color: transparentize($primary, 0.2);
        }
    }
}

ion-searchbar {
    height: 56px;
    max-width: 600px;
    margin: auto;
    &.searchbar-md {
        padding-bottom: 3px;
        padding-top: 3px;
    }
}

.searchbar-md .searchbar-input {
    font-size: 12px;
    padding-right: 10px;
    text-overflow: ellipsis;
}

.pac-container {
    margin-top: 10px;
    border-radius: 10px;
}