@import "../variables.scss";
.ios {
    ion-segment {
        max-width: 300px;
        margin: auto;
        margin-top: 10px;
    }
    .segment-button.segment-activated {
        @include secondary-gradient();
    }
}