@import "../variables.scss";

#mars-splashscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
    transition-property: all;
    transition-duration: 500ms;
    opacity: 1;
    .content {
        margin: auto;
        margin-top: 100px;
        img {
            display: block;
            width: 200px;
            height: auto;
        }
        p {
            text-align: center;
            margin-top: -20px;
            color: #444;
            font-size: 14px;
        }
    }
}