@import "../variables.scss";
.timeline {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    font-family: $secondary-font-family;
    .li {
        transition: all 200ms ease-in;
        label {
            font-size: 0.6em;
        }
        &:first-child,
        &:last-child {
            .status {
                padding-left: 10px;
            }
        }
        .status {
            color: $almost-white;
            padding: 0px;
            padding-top: 15px;
            padding-left: 15px;
            display: flex;
            justify-content: center;
            position: relative;
            transition: all 200ms ease-in;
            border-top: 2px solid #efefef;
            &:before {
                content: "";
                width: 15px;
                height: 15px;
                background-color: white;
                border-radius: 25px;
                border: 1px solid #ddd;
                position: absolute;
                top: -8px;
                left: 50%;
                transition: all 200ms ease-in;
                box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
            }
        }
    }
    .li.complete .status {
        border-top: 2px solid saturate($balanced, 10%);
        &:before {
            background-color: saturate($balanced, 10%);
            border: none;
            transition: all 200ms ease-in;
        }
        label {
            color: #aaa;
        }
    }
}