page-place-bid {
    [map-canvas] {
        max-height: 150px;
        &.loading {
            opacity: 0.2;
        }
    }
    ion-row.row {
        margin-top: 0px;
    }
    [max-width-container] {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    section[ion-col].col[info] {
        padding: 0px;
    }
    [user-info] {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20px;
        p {
            margin-top: 0px;
            margin-bottom: -10px;
        }
    }
    [user-name] {
        font-family: $secondary-font-family;
        color: $secondary;
        font-weight: bold;
        font-size: 22px;
    }
    section[rate] {
        font-size: 16px;
        color: $light;
        ul.rating {
            display: inline-block;
            vertical-align: middle;
            li[tappable] {
                padding: 6px;
            }
            ion-icon {
                font-size: 20px;
            }
        }
    }
    [order] {
        padding-left: 20px;
        padding-right: 20px;
    }
    [place-bid] {
        [toggle-infos] {
            width: 100%;
            min-height: 50px;
            margin-top: 1px;
            border-radius: 0px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            ion-icon {
                padding-left: 10px;
            }
        }
        [infos-header] {
            @include secondary-gradient();
            color: white;
            padding: 10px;
            font-size: 14px;
            border-radius: 4px 4px 0px 0px;
            text-align: center;
        }
        ion-card {
            margin-top: 0px;
        }
        [stop-item] {
            margin-left: -30px;
        }
        [infos-content] {
            padding-top: 0px;
            border-radius: 15px;
            padding-bottom: 16px;
            [info] {
                margin: auto;
                margin-top: 5px;
                padding-left: 10px;
                padding-right: 10px;
                text-align: left;
                color: #888;
                [info-title] {
                    color: $secondary;
                    font-size: 16px;
                    &[items-title] {
                        margin-top: 10px;
                        margin-bottom: -10px;
                    }
                }
                p {
                    font-size: 14px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    color: #888;
                }
            }
        }
        [view-profile] {
            font-size: 12px;
        }
        [itens-title] {
            font-size: 20px;
            margin-bottom: 16px;
            color: $balanced;
            ion-icon {
                vertical-align: text-bottom;
                padding-right: 5px;
            }
        }
    }
}