<!-- View Header -->
<ion-header>
    <ion-navbar color="secondary">
        <ion-title>
            <mars-translatable content="post_a_bid"></mars-translatable>
        </ion-title>
    </ion-navbar>
</ion-header>
<!-- View Content -->
<ion-content>
    <!-- Loading... -->
    <mars-view-spinner *ngIf="!order"> </mars-view-spinner>
    <!-- Items! -->
    <article order *ngIf="order">
      
        <!-- Order bid -->
        <section text-center>
            <button ion-button rounded color="balanced">
                <ion-icon name="add-circle"></ion-icon>&nbsp;
                <mars-translatable content="post_a_bid"></mars-translatable>
            </button>
        </section>
    </article>
</ion-content>