
<ion-header>
    <ion-navbar color="secondary">
        <ion-title>
            <mars-translatable content="new_ride"></mars-translatable>
        </ion-title>
        
        <ion-buttons end *ngIf="!authService.isLoggedIn()">
            <button ion-button end clear text-capitalize (click)="goToLoginPage()">
                <ion-icon name="log-in"></ion-icon>
                <mars-translatable content="sign_in"></mars-translatable>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    
    <ion-searchbar #searchbar [(ngModel)]="globals.currentOrder.job.origin.address.street" mars-address-autocomplete="merchants-search"
        [attr.show]="true" backgroundColor="light" animated="true" showCancelButton="true" backgroundColor="light" [placeholder]="translations.ride_start"
        (onSelect)="onAddressSelected($event)">
    </ion-searchbar>
    
    <mars-view-spinner *ngIf="!map"> </mars-view-spinner>
    
    <mars-assistant *ngIf="offline" [message]="you_must_be_online_to_view_the_map"></mars-assistant>
    
    <section id="home-map" map-canvas data-tap-disabled="true" [attr.style]="!offline? showContent : hideContent">
    </section>
</ion-content>