page-merchants-nearby {
    ion-content.content {
        ion-searchbar{
            margin-bottom: -60px;
            z-index: 998;
        }
        [overlay-content]{
            z-index: 999;
        }
    }
}