
<ion-header>
    <ion-navbar color="secondary">
        <ion-title>
            <mars-translatable content="available_rides"></mars-translatable>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <mars-view-spinner *ngIf="!orders"> </mars-view-spinner>
    <mars-assistant [message]="translations.no_jobs_around_message" *ngIf="orders && (!orders.length > 0)"></mars-assistant>
    <article *ngIf="orders && (orders.length > 0)">
        <ion-grid>
            <ion-row>
                <ion-col col-12 col-sm-12 col-lg-4 col-xl-4 *ngFor="let order of orders">
                    <ion-card order>
                        <ion-card-header color="primary" *ngIf="order.job && order.job.origin" text-center>
                            <span float-left>
                                <ion-icon name="pin"></ion-icon>
                            </span>
                            {{order.job.origin.address.city}}
                            ({{order.distance}}Km)
                        </ion-card-header>
                        <ion-card-content padding>
                            <ion-item>
                                <section item-left>
                                    <ion-icon huge name="car"></ion-icon>
                                </section>
                                
                                <section job-infos text-center>
                                    <section>
                                        <mars-translatable content="bid_until"></mars-translatable>:
                                        <span text-color="secondary"> 
                                            {{ order.job.scheduledTo | date }}
                                        </span>
                                    </section>
                                    <section>
                                        <ion-icon name="time"></ion-icon> {{ order.job.createdAt | fromNow }}
                                    </section>
                                    <section>
                                        <a view-more margin-top (click)="showJobDetailsFor(order)">
                                            <mars-translatable content="view_more"></mars-translatable>
                                        </a>
                                    </section>
                                </section>
                            </ion-item>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </article>
</ion-content>