<ion-card recipe [ngClass]="{ 'deleted': isDeleted() }" *ngIf="recipe">
    <ion-card-header no-padding>
        <img recipe-image [src]="pictureService.getPicture(recipe.pictures[0])" (click)="view.emit(recipe)" />
    </ion-card-header>
    <ion-card-content text-center>
        <section text-center text-color="secondary">
            {{ recipe.name }}
            <ion-spinner recipe-spinner *ngIf="recipe.loading"></ion-spinner>
        </section>
        <button ion-button text-center clear view-more color="positive" (click)="view.emit(recipe)" *ngIf="view.observers.length > 0">
            <mars-translatable content="view_more"></mars-translatable>
        </button>
        <section text-right *ngIf="showCatalogueOptions()">
            <a (click)="showOptionsFor($event, recipe)" text-color="dark" more-options>
                <ion-icon name="more"></ion-icon>
            </a>
        </section>
    </ion-card-content>
</ion-card>