page-about {
    ion-content.content {
        [project-name] {
            @include linearGradient(lighten(adjust-hue($primary, 5), 2%), $primary);
            text-align: center;
            color: $primary;
            margin-top: 10px;
            font-weight: bold; // text-shadow: 1px 1px 0 $primary;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
        }
        [project-intro] {
            text-align: justify;
            color: $dark;
        }
        [rate-the-app] {
            color: $dark;
        }
    }
}